<div class="newstable">
<!--
<div class="newsheader">Follow them</div>

<div class="newscell"><a class="newslink" href="http://stormyscorner.com/">Stormy Peters</a></div>

-->
<!--
<div class="newscell"><a class="newslink" href=""></a></div>
-->

<div class="newsheader">Perl sources</div>

<div class="newscell"><a class="newslink" href="http://ironman.enlightenedperl.org/">Ironman Perl Planet</a></div>
<div class="newscell"><a class="newslink" href="http://perlsphere.net/">Perl Sphere</a></div>
<!-- <div class="newscell"><a class="newslink" href="http://planet.perl.org/">Planet Perl</a></div> -->
<div class="newscell"><a class="newslink" href="http://blogs.perl.org/">Perl Blogs</a></div>
<div class="newscell"><a class="newslink" href="http://news.perlfoundation.org/">Perl Foundation News</a></div>
<div class="newscell"><a class="newslink" href="http://perlbuzz.com/">Perl Buzz</a></div>
<div class="newscell"><a class="newslink" href="http://perlnews.org/"></a></div>
<div class="newscell"><a class="newslink" href="http://perlmonks.org/">PerlMonks</a></div>
<div class="newscell"><a class="newslink" href="http://stackoverflow.com/questions/tagged/perl">Perl on StackOverflow</a></div>
<div class="newscell"><a class="newslink" href="http://www.reddit.com/r/perl/">Reddit Perl</a></div>
<div class="newscell"><a class="newslink" href="http://www.effectiveperlprogramming.com/">The Effective Perler</a></div>
<div class="newscell"><a class="newslink" href="https://metacpan.org/recent">Recent uploads to CPAN</a></div>
<div class="newscell"><a class="newslink" href="http://planetsix.perl-foundation.org/">Perl 6 planet</a></div>
<div class="newscell"><a class="newslink" href="http://www.rakudo.org/">Rakudo</a></div>

</div>
<!--
<div class="newscell"><a class="newslink" href=""></a></div>
-->