<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/training">Corporate Training</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/training">All the courses</a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/courses/python-programming">Python Beginner</a>
          <a class="navbar-item" href="/courses/advanced-python">Python Advanced</a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/courses/linux-for-power-users">Linux on the command line</a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/courses/">Git for beginners</a>
          <a class="navbar-item" href="/courses/advanced-git">Advanced git</a>
          <a class="navbar-item" href="/courses/github-actions-for-programmers">GitHub Actions for programmers</a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/courses/testing-perl">Testing Perl code for Perl developers</a>
<!--
          <a class="navbar-item" href="/courses/"></a>
          <hr class="navbar-divider">
          <a class="navbar-item"> Report an issue </a>
-->
        </div>
      </div>
      <a class="navbar-item" href="/higher-education">Higher Education</a>
      <a class="navbar-item" href="/rust">Rust</a>
      <a class="navbar-item" href="/free">Free</a>
      <a class="navbar-item" href="/about">About</a>
      <a class="navbar-item" href="/contact">Contact</a>
      <a class="navbar-item" href="/archive">Archive</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="https://www.linkedin.com/in/szabgab" style="text-decoreation:none;"><img src="/img/linkedin32.png" alt="LinkedIn" style="vertical-align:middle;border:0" /></a>
      <a class="navbar-item" href="https://github.com/szabgab" style="text-decoreation:none;"><img src="/img/github32.png" alt="GitHub" style="vertical-align:middle;border:0" /></a>
    </div>
  </div>
</nav>
<!--
    <a href="https://twitter.com/szabgab" style="text-decoration:none;"><img src="/img/twitter32.png" alt="Twitter" style="vertical-align:middle;border:0" /></a>
    <a href="http://feeds.feedburner.com/szabgab" rel="alternate" type="application/rss+xml"><img src="/img/feed-icon32x32.png" alt="RSS Feed" style="vertical-align:middle;border:0"/></a>
-->


