<!-- News Section -->
<table class="newstable" cellspacing="2" cellpadding="2"  width="100%">

<tr><td class="newsheader">
    <strong>NEWS</strong>
</td></tr>

<tr><td class="newscell">
    <strong>20 July 2006</strong><br /><br />
    <a class="newslink" href="/blog.html">I have my own blog now!</a>.
</td></tr>

<tr><td class="newscell">
    <strong>20 Dec 2005</strong><br /><br />
    I have been working lately quite a lot on the organization of the
    <a class="newslink" href="http://www.osdc.org.il/">Open Source Developers' Conference, Israel, 2006</a>.
</td></tr>

<tr><td class="newscell">
    <strong>31 July 2005</strong><br /><br />
    Second release of the <a class="newslink" href="/gtk2.html">Gtk2 Perl Demo</a>
</td></tr>

<tr><td class="newscell">
    <strong>19 July 2005</strong><br /><br />
    <a class="newslink" href="subversion_vs_xyz.html"
    >Subversion vs. XYZ</a>
</td></tr>

		
<tr><td class="newscell">
    <strong>18 July 2005</strong><br /><br />
    First release of the <a class="newslink" href="/gtk2.html">Gtk2 Perl Demo</a>
</td></tr>

<tr><td class="newscell">
    <strong>27 May 2005</strong><br /><br />
    First version of the <a class="newslink" href="articles/perlindex.html">Perl Index</a>
</td></tr>

<tr><td class="newscell">
    <strong>26 April 2005</strong><br /><br />
    Book-review: <a class="newslink" href="articles/pragmatic_version_control_using_subversion.html"
    >Pragmatic Version Control Using Subversion</a>
</td></tr>

<tr><td class="newscell">
    <strong>26 April 2005</strong><br /><br />
    Added a script to prepare the files of the site up-front so there is no
    need for processing while serving the pages.
</td></tr>

<tr><td class="newscell">
    <strong>5 October 2004</strong><br /><br />
    A simple list of <a class="newslink" href="perl.html">Perl related news items</a> added to the site.
</td></tr>

 <tr><td class="newscell">
     <strong>30 September 2004</strong><br /><br />
     Notes about <a class="newslink" href="articles/web_log_file_analysis.html">web server log file analysis</a>.
</td></tr>
			
<tr><td class="newscell">
    <strong>23 September 2004</strong><br /><br />
    Added <a class="newslink" href="talks.html">some of my talks</a>.
</td></tr>

<tr><td class="newscell">
    <strong>1 September 2004</strong><br /><br />
    Finally I have a home page...
</td></tr>

</table>

