
<p>
I bought the Google Hacks book a while ago but only recently read it. 
It is trying to talk to a very wide audience at the same time. 
While the title probably eliminates a lot of people from the 

It has several major parts:
<ol>
 <li> How to improve your search capabilities - this fits the general public
 <li> Tricks for the web site owner on how to reach higher ranking including advise how to use Adwords better
 <li> API - programmable interface - this for programmers and a like who are not afraid of coding
</ol>

I learned a number of things from this book. Actually this is not the first time
I envounter most of the sugge
