title         =Articles and Ideas
page_title    =Articles and Ideas

<h2>Articles</h2>
<p>
	In this section I'll add a couple of notes that will at time go to a smaller article.
	The subjects will vary as things come up in my daily work.
	The pieces you find here might not be finished articles or well thought out ideas but
	some people might find them useful.
</p>
<ul>
  <li> <a href="web_log_file_analysis.html">Web log analysis</a></li>
  <li> <a href="rapidsvn.html">RapidSVN</a></li>
<!--  <li> <a href="version_control_for_sysadmins.html">Version Control for System Administators</a> </li>-->
  <li> <a href="pragmatic_version_control_using_subversion.html">Bookreview: Pragmatic Version Control with Subversion</a> </li>
</ul>

