=head1 Advanced of Perl
=timestamp 1153283014
=description Learning Perl is not difficult but it helps to have good training material!
=tags Perl, training, perl course, slides, Perl training, programming
=skip all

<h2>Advanced of Perl</h2>
<p>
</p>

<h2>Syllabus</h2>

<ul>
<li>Using standard modules</li>
<li>Installing modules from CPAN</li>
<li>Using CPAN modules</li>
<li>Packages, Namespaces</li>
<li>Libraries and Modules</li>
<li>Creating libraries and modules</li>
<li>Exporting selected functions</li>
<li>Unit testing</li>
<li>Packaging modules for distribution</li>
<li>Writing Unit Tests for Perl Modules</li>
<li>Introduction to References</li>
<li>Anonymous Arrays and Hashes</li>
<li>Multi Dimensional Data Structures</li>
<li>Manipulating Complex Data Structures</li>
<li>References to functions</li>
<li>Anonymous functions</li>
<li>Static variables and Closures</li>
<li>Memoization</li>
<li>Data serialization</li>
<li>Practical use of function references</li>
<li>Object Oriented Perl (OOP) manually and using Moose</li>
<li>Constructors and destructors</li>
<li>Class methods and Instance methods</li>
<li>Members</li>
<li>Inheritance, Polymorphism, Encapsulation</li>
<li>Automatic Class creation</li>
<li>Singleton</li>
<li>Operator overloading</li>
<li>Using the Perl debugger</li>
<li>Using Dancer for writing Web applications</li>
<li>Using LWP to write web scraping programs</li>
</ul>

<p>
Other <a href="perl.html">Perl related</a> pages.
</p>

