=head1 Fundamentals of Perl
=timestamp 1153283008
=description Learning Perl is not difficult but it helps to have good training material!
=tags Perl, training, perl course, slides, Perl training, programming
=skip rss archive front

<h2>Fundamentals of Perl</h2>
<p>
Learning Perl isn't difficult but having the the right course material
makes a lot of difference between success and failure.
<br />
Below you can find the content of the course as it existed in 2007.
<br />
Since then it went thought a lot of changes and additions. The new latest
version will be available soon.

<h2>Syllabus</h2>

<ul>
<li>History, how to install Perl, how to run scripts</li>
<li>Basic I/O</li>
<li>Scalar values and variables (numbers and strings)</li>
<li>Control flow</li>
<li>Lists and arrays (context)</li>
<li>Hash (associative arrays)</li>
<li>Regular expressions, pattern matching</li>
<li>Functions, subroutines</li>
<li>Accessing files</li>
<li>Interaction with the file system</li>
<li>Error handling</li>
<li>Processes and Signals</li>
<li>Using references</li>
<li>Using modules</li>
<li>Using OOP style</li>
<li>Installing modules on UNIX/Linux and on Windows systems</li>
<li>Using CGI to write simple Web applications</li>
<li>Using LWP to write web scraping programs</li>
</ul>

</p>
<p>
<a href="/talks/fundamentals_of_perl/" title="Slides for learning Perl">Fundamentals of Perl</a>
</p>

