=head1 Helping people find good Perl tutorials
=timestamp 1320299128
=tags Perl, tutorial, perl tutorial, learning perl

If a co-worker comes to you and asks you: "<b>I would like to learn Perl, where can I find a good Perl Tutorial?</b>",
I am sure your would have a few recommendations. If the same person did not know you she would have to type 
some search term in Google and hope she found the right learning material.

Recently Christian Walde (Mithaldu) asked
"<a href="http://blogs.perl.org/users/mithaldu/2011/10/how-do-newbies-find-perl-learning-materials-online.html">How do newbies find Perl learning materials online?</a>".
Dave Cross responded by checking the <a href="http://perlhacks.com/2011/10/perl-tutorial/">top results when searching for "perl tutorial"</a>.

It shows that many people using Google to find a Perl tutorial will find bad ones.

To which Mithaldu replied with a long article describing
<a href="http://blogs.perl.org/users/mithaldu/2011/10/perl-tutorials-suck-and-cause-serious-damage.html">the problem and
solution</a> as he sees them.

If only you could say a few sentences, pointing them in the right direction.

You would save them a lot of suffering.

If they come to work at your office you'd get a Perl programmer 
who does not need to unlearn the bad practices.

The thing is that you can easily help in this. Even if you don't have a web site or if you don't blog.

The idea is to strengthen the knowledge of Google and other search engines about the good Perl tutorials.

<h2>Google Plus</h2>

Even if you don't have a web site or a blog, you can follow the suggestion of
a <a href="http://ahmadzawawi.blogspot.com/">very good Perl developer</a> called Ahmad Zawawi:

Go to Google, find some good Perl tutorials and click G+ on all the links you like.
Sooner or later that will help moving them to the top of the search results. At least on Google.

If you find several parts of the same tutorial, G+ all of them.

If you find an opportunity, share a link to them. (E.g. in a response on StackOverflow
or on PerlMonks, on Twitter or other social network.).

<h2>Your web site</h2>

If you have a web site you can create a page as 
<a href="http://earlruby.org/">Earl C. Ruby III</a> did, listing a number of
<a href="http://earlruby.org/learn-perl/">resources to learn Perl</a>.

Look how he did. He use the expressions <b>perl tutorial</b> and <b>learn perl</b>
in the link. Search engines assume that if many people refer to a page as "perl tutorial"
than it is probably a good candidate to be displayed as a search result when someone is 
looking for a "perl tutorial".

Don't worry, even if your web site has little traffic, a lot of such sites 
linking still makes a big impact.

As I understand, generally pages with just a bunch of links don't have a lot of 
effect so make sure you add some text around the links.

<h2>Blogs</h2>

If you have a blog either on a shared <a href="http://blogs.perl.org/">blogging site for Perl</a>
or on your own domain you can do something else.

You can write a post explaining a subject and linking to specific pages in the 
tutorials related to your topic. Maybe showing a different approach.
Again, what is important is to have a few links and to use the right anchor text.

I recently wrote about it on the
<a href="http://blogs.perl.org/users/gabor_szabo/2011/10/perl-tutorial-and-the-internet.html">Perl blog engine</a>.

I am not an expert in SEO but - with the help of a lot of other people - we managed to get 
reasonable position for Padre when searching for "Perl IDE" or "Perl editor" and even managed
to get in the top 10 under <a href="http://szabgab.com/perl-tutorial">Perl Tutorial</a>.

<h2>Collection of tutorials</h2>

I recently saw that Christian Walde (Mithaldu) started a site <a href="http://perl-tutorial.org/">listing Perl tutorials</a>.
That's a very nice effort. Please help him.

<h2>Module authors</h2>

Module authors could include links to tutorials, or that list of tutorials in the POD of their modules.
When that is shown on the CPAN search site, the big search engines will use them.

<h2>Perl projects</h2>

Perl Projects that have their own web sites such as <a href="http://moose.iinteractive.com/">Moose</a>,
<a href="http://www.catalystframework.org/">Catalyst</a>,
<a href="http://perldancer.org/">Dancer</a>, <a href="http://mojolicious.org/">Mojolicious</a>,
but even smaller ones such as the <a href="http://timetracker.plix.at/">command line time tracker</a>
could have a page linking to Perl tutorials or perl resources.

We have just done that for Padre. We created a page <a href="http://padre.perlide.org/perl.html">listing Perl resources</a>.
We will also have a menu option padre that will lead the Padre users to this page but the page itself will give a
tiny bit of help to the specific sites listed there.

<h2>You too...</h2>

Yeah, you too can help that person on the other end of the Internet finding better
sources for their Perl studies.

