=head1 How many test harnesses are too many?
=timestamp 1227711168
=tags newsletter, testing, harness, TAP

<hr>
This entry was first sent out as part of the 
<a href="/test_automation_tips.html">Test Automation Tips</a>.
Visit <a href="http://mail.szabgab.com/mailman/listinfo/test-automation-tips">here to subscribe</a>.
<hr>

<h2>Welcome back</h2>

When I started this newsletter I thought I'll be able to 
send a message every other week. So far I have not been
able to do that. In the last couple of months I have been
busy by the development of <a href="http://padre.perlide.org/">Padre, an IDE for Perl</a>
and probably for other languages. 

At one point <a href="http://use.perl.org/~gabor/journal/37754">I asked the opinion of the use.perl community</a>
and one of the responses, Jozef, who is also a member of this
list, pointed out I'd better spend my time writing more about
testing than creating an IDE. He certainly is right in the
part that I should send out more of these newsletters.


Since then I had several attempts to write a new post but they
take a lot of energy and after an hour or two I always drifted
back to writing Padre. I am sure those of you who write 
interesting Open Source code can understand it.

Then suddenly the light came on. I'll have guest posters!

There are so many good people out there with plenty of things to 
say I'll ask them to fill in and let me send out some of the
things they write.

It's a win-win situation. I only have to edit the format a bit
and you get much better content.

So let me start in this issue with a post from 
Curtis "Ovid" Poe.

<h2>Curtis "Ovid" Poe</h2>

The Perl community in general is quite familiar with his name
but also others on this list, who are not Perl developers
already know some of his work.

He is the original author of Test::Harness 3.x that
processes the TAP streams mentioned in 
<a href="http://perlmaven.com/tap-test-anything-protocol">TAP - Test Anything Protocol</a>

So Ovid is a central figure of the Perl world especially
the Perl testing world. 

Currently he works for the BBC. He is also on the 
Advisory Board of The Parrot Foundation
on behalf of the BBC.

<ul>
<li><a href="http://use.perl.org/~Ovid/journal/">use.perl journal</a></li>
<li><a href="http://publius-ovidius.livejournal.com/">Publius Ovidius</a></li>
<li><a href="http://www.parrot.org/news/bbc-joins-parrot-foundation-advisory-board">
BBC joins Parrot Foundation putting Ovid on the Advisory board</a></li>
</ul>

<h2>How many test harnesses are too many?</h2>

Now instead of copying publishing his notes here, 
let me link to what Ovid writes about
<a href="http://use.perl.org/~Ovid/journal/37949">How many test harnesses are too many?</a>
                                                                     
<h2>Comments and Discussion</h2>

Comment on the journal of Ovid, or write in your own blog and
post the permalink here.

If you would like to discuss this on a public mailing list,
subscribe to the 
<a href="http://mail.szabgab.com/mailman/listinfo/test-automation">
Test Automation discussion list</a>

<hr>
This entry was first sent out as part of the 
<a href="/test_automation_tips.html">Test Automation Tips</a>.
Visit <a href="http://mail.szabgab.com/mailman/listinfo/test-automation-tips">here to subscribe</a>.
<hr>

