=head1 Kick starting Test Automation using Perl
=timestamp 1153282993
=skip all


<p>
In addition to the <a href="/perl_in_test_automation.html">Perl in Test Automation</a> training
class I am also offering consulting service setting up a test automation environment:
</p>

<a name="kickstart"></a>
<h2>Kick-starting test automation</h2>
<p>
Often the <a href="/perl_in_test_automation.html#training">training</a> alone will leave you with people
who already know what should be done but because of the lack of experience it will
take them a long time to setup and streamline the testing environment.
<br>
In addition four days of training is hard on the students.
<br>
It might be better for your organization to spread out the training to 
8 days - 4 hours a day - in a period of two weeks and use the rest of
the time to setup the testing environment and help the students to
start writing their own tests.
<br>
While the details can be customized it would normally work like this:
</p>
<ul>
<li>Day 1: Gabor meeting with several of the students and their managers to analyze the exact
needs of the company. Setting up the framework for writing tests.</li>
<li>Day 2-5: 4 hours training in the morning, pair-development in the afternoon one student+Gabor
(one hour per student).</li>
<li>Weekend</li>
<li>Day 6-9: 4 hours training in the morning, pair-development in the afternoon.</li>
<li>Day 10: pair-development and design of further work plans for the developers.</li>
</ul>
<p>
During the non-training time Gabor will help setting up the
testing environment both centrally and for the individual
developers. He will also help designing the test framework
and help writing tests.
</p>


