=head1 New Year's Resolutions 2009
=timestamp 1230804123
=tags 2009, new year, Perl, Perl 5, testing

I already had one a couple of month ago <a href="/shana-tova-new-years-resolution.html">Shana Tova - New Year's resolution</a>
so now a few other items.

<ol>
<li>Keep writing <a href="http://padre.perlide.org/">Padre, the perl IDE</a>.</li>
<li>Offer the <a href="/perl_in_test_automation.html">Test Automation using Perl 5</a> training class in Europe.</li>
<li>Send more articles to the <a href="/test_automation_tips.html">Test Automation Tips</a>.</li>
<li>Prepare a one-day training class for Perl 6 and start offering it.</li>
<li>But most urgently, help preparing the annual accounting papers <b>on time</b></li>
</ol>


