=head1 Padre 0.50 released
=timestamp 1257675476
=tags Padre, Perl, IDE, regex, ftp

I am happy to announce this round version number of Padre.
Does that mean we are half-way to the 1.0 release?
Will people think that a 1.00 release can't be good so they need to wait
for the 2.03 release to start using Padre?

We'll see if we need to play with version numbers to communicate
something or if we can just steadily increase at every release.

There are a couple of new features in this release:

<ul>
<li>Thanks to <a href="http://search.cpan.org/~bramble/">Andrew Bramble</a> (aka. the submersible toaster) 
the F1 button that used to show the Padre man page even if you asked for something else
is now it fixed.</li>
<li><a href="http://ahmadzawawi.blogspot.com/">Ahmad M. Zawawi</a> (<a href="http://search.cpan.org/~azawawi">AZAWAWI</a>)
fixed a couple of bugs and straightened
the author/license of share/doc/perlopref.pod missing</li>
<li><a href="http://padre-ide.de/">Sebastian Willing</a> (<a href="http://search.cpan.org/~sewi/">SEWI</a>) 
added basic FTP-remote-editing capability and</li>
<li>made the menubar configurable (even though it still lacks a dialog for this)</li>
<li><a href="http://szabgab.com/">Gabor Szabo</a> (SZABGAB) (aka myself) added an initial version of a regex editor</li>
<li>and an initial version of "Find Method Declaration" which can be found in the Perl
menu and when right clicking on a function name of method call.</li>
</ul>

Padre 0.50 is making its way to <a href="http://search.cpan.org/dist/Padre/">CPAN</a>.


enjoy and distribute


