=head1 Perl
=timestamp 1153283000
=skip all

<p>
Perl is leading Open Source dynamic programming language that has been used to glue together major parts
of the Internet.
</p>

<h2>Generic Perl 5 courses</h2>
<p>
<ul>
<li><a href="/fundamentals-of-perl">Fundamentals of Perl</a></li>
<li><a href="/advanced-perl">Advanced Perl</a></li>
</ul>
</p>


<h2>Perl 5 in Testing</h2>
<p>
<ul>
<li><a href="perl_in_test_automation.html">Using Perl in QA departments</a></li>
</ul>
</p>


<h2>Rakudo Perl 6</h2>
<p>
<ul>
<li><a href="perl6.html">Introduction to Perl 6</a></li>
<li><a href="perl6_tricks_and_treats.html">Perl 6 Tricks and Treats</a></li>
</ul>
</p>

<!--
<h2>Perl related news and articles</h2>
<table>
<tr><td>09 March 2005</td><td>Cultured Perl: <a href="http://www-128.ibm.com/developerworks/linux/library/l-cpdata.html?ca=dgr-lnxw09PerlDatabase">Embedding Perl in database tables</a></td></tr>
<tr><td></td><td>Put Perl into RDBMS design to reach database nirvana</td></tr>

<tr><td>March 2005</td><td><a href="http://www.windowsitpro.com/Articles/Index.cfm?ArticleID=45195&DisplayTab=Article">How to Script In-Your-Face Alerts</a></td></tr>
<tr><td></td><td>Perl s the perfect scripting language for writing such a tool. <i>WindowsITPro</i></td></tr>
<tr><td>31 January 2005</td><td><a href="http://www.itworld.com/AppDev/nls_ebusinessescher050201/">Wall, Escher and Berners Lee: An eternal golden braid</a></td></tr>
<tr><td></td><td><i>ITworld.com</i></td></tr>
</table>

<h2>Others write about Perl</h2>
<ul>
<li><a href="http://www.net-security.org/review.php?id=143">Using Perl for Windows Forensics And Incident Recovery</a> - book review on <i><a href="http://www.net-security.org/">Net-Security</a></i></li>
<li><a href="http://www.prnewswire.com/cgi-bin/stories.pl?ACCT=104&amp;STORY=/www/story/10-04-2004/0002265348&amp;EDATE=">Hurricane Electric Presents Randal L. Schwartz and the 'Learning Perl' Seminar</a> - <i><a href="http://www.prnewswire.com/">PR NewsWire</a></i></li>
<li><a href="http://www.open.com/news/releases.jsp?file=041004.jsp">OpenService Releases NerveCenter with industry-standard Perl extensibility for all supported platforms.</a> - <i><a href="http://www.businesswire.com/">Business Wire</a></i></li>
<li><a href="http://forbes.com/business/forbes/2004/0906/161sidebar.html">Party Crasher - save money using Perl</a> - <i>FORBES</i></li>
<li><a href="http://forbes.com/business/forbes/2004/0412/028.html">How's Your Perl? - How Perl can keep you in the job market?</a> - <i>FORBES</i></li>
<li><a href="http://forbes.com/2003/06/20/cz_eb_0620linux.html">The Feds Love Linux (and Perl)</a> - <i>FORBES</i></li>
<li><a href="http://www.perltraining.com.au/whyperl.html">Why Use Perl ?</a> - examples from <i>Perl Training Australia</i></li>
</ul>
-->

<p>
I personally use it both for professional work and for fun. I am also providing <a href="training.html">Perl training</a> at various levels.
While I am currently based in Israel I have also been training in various locations in Europe. If you are interested in one of my training
classes, please <a href="contact.html">contact me</a> for details.
</p>
<p>
The <a href="http://www.pm.org/">Perl Mongers</a> are groups of people around the world Monging Perl. 
In April 2003 I asked around and create a <a href="perl_mongers.html">Census of Perl Mongers</a>.
</p>

