=head1 Perl 6 training in Lisbon in August
=timestamp 1242982492
=tags Perl, Perl 6, training, YAPC

I am happy to announce that on 1-2 August, 2009, the week-end before
<a href="http://yapceurope2009.org/ye2009/">YAPC::EU</a> I am going 
to give a Perl 6 training in Lisbon, Portugal.

Details of the course can be found <a href="/perl6.html">here</a>.
It is the further development of the training I gave in Oslo in April
where Larry Wall also attended my class. (I should write about that
experience a bit more).

If you'd like to register that should be via the
<a href="http://yapceurope2009.org/ye2009/purchase">purchase form</a>
of the conference. You will probably need to first 
<a href="http://yapceurope2009.org/ye2009/register">register</a> though. 

Now that it is official that I am going to give this training I'll need
to update both the <a href="/perl6.html">syllabus</a> and the actual content
of the course. That means soon I'll restart sending out the
<a href="/perl6_tricks_and_treats.html">Perl 6 Tricks and Treats</a> that
I stopped due to a short project I took upon myself with a dead-line in 
early June.

