=head1 Perl event organizer kit
=timestamp 1394511860
=tags Perl, YAPC

=abstract start

While I am not part of any official Perl organization, I have some
experience with the Perl community, and with organizing events.

So I put together this 'kit'. Some of this might help you.
It is mostly about promoting the event, but in the end there is also
an idea for enhancing the event while getting some funding.

First there are the general tools for promoting the events, then
a few things I can help with.

=abstract end

<h2>Perl Jam</h2>

Before you go on reading, you might want to read the  <a href="http://perljam.info/">Perl Jam</a>
written by  <a href="http://missbarbell.co.uk/">Barbie</a>.


<h2>Why this list</h2>

Actually this started as a list of the ways I personally can help Perl event organizers to promote
their events, but then many other things got added. If you are interested in the parts
I can offer <a href="#byszabgab">skip ahead</a>.


<h2>Organizers mailing list</h2>

In case you don't know there is a
<a href="http://lists.yapceurope.org/mailman/listinfo/organizers">mailing list for organizers</a>
of Perl-related events. It is hosted by YEF,
(<a href="http://yapceurope.org/">YAPC Europe Foundation</a>), 
but it is open for the organizers of all the Perl events.
It is also not very busy. You might ask for help there.

<h2>Listing organizers - Contact information</h2>

I think many Perl event sites are missing a clear and easy way
to contact the organizers. It would be nice to have a page
linked from the menu listing the organizers with
the the contact information of at least the main organizers.
(e-mail, phone, etc.) If there are team e-mail addresses, list those.

It gives credit to all the organizers and makes it easier to contact them.


<h2>Contacting registered users</h2>

<a href="http://act.mongueurs.net/">Act, the Conference Toolkit</a> that you are probably using
allows you to export the registered users in CSV file. You can then use that to send them
e-mails updating the registered users about the progress of the organization.

You can also ask them to help promoting the event.

More than that, if this is not the first such event you can ask the
organizer of the previous event to give you the CSV file of that
event and send an invitation to those people as well.

If someone will try to argue that this is spam, remind them that
those people who registered to the event are actually interested in the event
so they won't mind a few updates. Just don't send to many such e-mails and mark them clearly.
If you want to be on the safe side, put some text on the web site of the event:

For example:

Privacy: We won't give away your e-mail and we won't send unrelated content,
but by registering you agree to receive updates about the Perl Workshop,
and the Perl Monger events.


<h2>blogs.perl.org</h2>

Even if you post to your local mailing list, and/or on the web site of
the event, I think it can be very useful to post once in a while on
<a href="http://blogs.perl.org/">blogs.perl.org</a> about your event.
Certainly when you open the registration, when you publish the call for papers,
near the deadline for registration etc.  With links to the event.
Creating an account on blogs.perl.org is easy and you don't need to build
up a "following". There are already people reading it.

(e.g. <a href="http://blogs.perl.org/users/filip_sergot/">Filip Sergot</a> created his account just to
post about the <a href="http://blogs.perl.org/users/filip_sergot/2014/03/polish-perl-workshop-2014-is-coming.html">Polish Perl Workshop</a>.)

<h2>Perl News site</h2>

You can submit a news item to <a href="http://perlnews.org/">Perl news</a>
linking back to the web site of your event. It does not have a lot
of readers, but the more the better.

<h2>Perl Buzz</h2>

You can contact <a href="http://petdance.com/">Andy Lester</a> to tweet about your event,
though if it is in the news elsewhere, he usually picks up himself. The more
news items you generate the more times he might pick it and
<a href="https://twitter.com/perlbuzz">tweet about it</a>,
and publish in the <a href="http://perlbuzz.com/">Perl Buzz</a> site.

<h2>Social Networks</h2>

In general, I think these can be used to promote the upcoming
event, but they work much better if you have announcements once
in a while that you blog about. Then you can announce those
new on the social networks of the events.

I also think that these Social Networks are long-term investments.
you build up "following" that will be even better for the future editions
of the same event.

<h3>Facebook</h3>

You can create an "event" on <a href="https://www.facebook.com/">Facebook</a>,
invite your Facebook-friends to it, and promote it.
I have to admit I have never really had success with this, but it might say more
about me than about FB.
You can create a "group" or a "page" on Facebook for your event and let people "like" it.
I think this is a lot of work and I am not sure it pays off. It might pay off in the long run.

Something that might be more interesting is posting on one or more of the Perl-related Facebook pages/groups:
<a href="https://www.facebook.com/groups/100858186649890/">Perl Developers</a> (924 members)
<a href="https://www.facebook.com/groups/perlprogrammers/">Perl Programmers</a> (399 members).


<h3>Google Plus</h3>

I think it is worth to create a Page on <a href="https://plus.google.com/">Google Plus</a>
for the event and slowly build followers. You can then make announcements on that page.
(I personally had a lot more success with G+ than with FB).

<a href="https://plus.google.com/113483763321583397434">YAPC::NA</a> has a page 
I created in 2012 to help the organizers. I am still the "owner" but the current annual organizers
could get admin rights to publish articles. Alternatively I could publish announcements there.

<a href="https://plus.google.com/105385084841267530672">YAPC:EU</a> has a page, I don't know who "owns" that.

Several Perl Monger groups have pages. There are several other Perl-related pages and groups that can be used to announce
the event. The <a href="https://plus.google.com/+Perlweekly">Perl Weekly has a page</a> too with more than 4,000 followers.

<h3>Twitter</h3>

You can set up a twitter account for you event and slowly build followers.
<a href="https://twitter.com/yapcna">YAPC::NA</a> has an account,
and <a href="https://twitter.com/yapceu">YAPC::EU</a> has an account too.

You definitely should tweet links to the event page and to the news about the event.

<h3>LinkedIN</h3>

You can set up a group for the event and invite people to build up
the group throughout the years. As an owner, you can make announcement to the group.
<a href="http://www.linkedin.com/groups/YAPC-NA-3982433">YAPC::NA</a> has a group
with 143 members.

There are several large Perl-related groups on LinkedIN.
<a href="http://www.linkedin.com/groups?gid=106254">Perl</a> (15,274 members)
<a href="http://www.linkedin.com/groups?gid=40830">Perl Mongers</a>  (7,971 members),
and <a href="http://www.linkedin.com/groups?gid=3686926">Perl Developer</a> (1,925 members).
There are also various groups for local Perl Mongers.

You can start discussions about the event on these groups, and/or
you can use these groups to invite people to your own group where you'll be able to
make announcements.

<h2>Other</h2>

A couple of items suggested by Salve. I should describe them more in detail:

<ul>
<li>Contact the local, and "near-by" <a href="http://pm.org/">Perl Monger groups</a>.</li>
<li>Make sure your event is listed in the <a href="http://yapceurope.org/">YEF calendar</a>. (<a href="https://github.com/yapceurope/perl-events">source</a>)</li>
<li>Look for <a href="http://meetup.com/">Meetup</a> groups active in your area (look for overlapping topics).</li>
<li>If you're doing something entertaining/funny, go even wider into general event calendars (e.g. alongside theater, literary or music events)</li>
<li>Your local University or technical college may also have channels for reaching interested students.</li>
<li>If you organize something near (in location and time) another event, look to do a cooperation with that event?</li>
</ul>


<h2 id="byszabgab">Perl Weekly</h2>

I run the <a href="http://perlweekly.com/">Perl Weekly newsletter</a> 
that has a page listing <a href="http://perlweekly.com/events.html">all the Perl events</a>
I know about.

If your event is not there yet, please let me know.
In addition, when you publish a blog post with some news regarding the event,
(on blogs.perl.org or elsewhere), feel free to send me a link so I can include it
in the next edition of the Perl Weekly.

In exchange it would be nice if you could mention the Perl Weekly on the
web site of the event (as a partner or media partner, or just as Perl Weekly)
You can use a text link, and there are 
<a href="http://perlweekly.com/promotion.html">some logos on this page</a>
if you prefer that.

The Perl Weekly has more that 5,000 subscribers.

<h2>Perl Maven</h2>

I run the <a href="http://perlmaven.com/">Perl Maven</a> site as well.
It has a lot more readers than blogs.perl.org and in many cases
a lot of people who are <b>not</b> reading any of the Perl-related
publications. People who are just looking for help with Perl.
Many newbies.

That site also has a <a href="http://perlmaven.com/events">list of events</a>
that  usually sync from the list on the Perl Weekly site.

I'd be glad to use the site to promote your event if you
are willing to recommending the Perl Maven site, or the
<a href="http://perlmaven.com/perl-tutorial">Perl Tutorial</a> on it
by linking to it from the web site of your Perl event.

I can mention your event on the mailing list of the Perl Maven site
that has over 2,800 subscribers, and I can include the event in the rotation
currently in the top right corner which is seen by more than
5,000 people every day.


<h2>Perl Community AdServer</h2>

I also run the <a href="http://pcas.szabgab.com/">Perl Community AdServer</a>.
The ads served by that server are displayed on various web sites of
the Perl community. Web sites that include a piece of JavaScript
code.

In order to be included in the ads you'll need to send me the text:
to be included in <a href="http://pcas.szabgab.com/ads.yml">this YAML file</a>.
The text part of the ads can be up to 70 chars but it can, and should
include links in it.

If you are willing to embed the ads on your sites, that would be a
nice contribution to the other organizers.


<h2>Sponsorship and Training</h2>

Finally, by organizing a training before or after the event you can
enhance the content, and help fund the expenses. The training can be either full corporate price or
the heavily discounted price we used at some other events.
There are several
<a href="http://szabgab.com/sponsoring-perl-events-by-running-perl-training-courses.html">Perl trainers</a>
who could offer you such training classes.

<h2>Checklist</h2>

Random items that came to my mind:

<ul>
  <li><b>Name tags</b> that you give away. Use large letters for the name. Many people are known by their nickname. Put it on the name tag also with large letter.
     The name of the conference is less important. If the name-tag will be hanged in the neck, print the name on both sides in case it flips.
  </li>
  <li>Food - make sure you have something to offer for the people with various special needs.
      (Vegetarian, Vegan, people with all kinds of allergies, kosher, halal). Maybe ask if someone needs special food.
  </li>
</ul>



