=head1 QA Test Automation using Perl and integration with other languages
=timestamp 1153283010
=tags Perl, testing, automation, course, training
=skip rss archive front
=description How to write tests for your application written in Perl and how to use Perl to test applications written in other languages.

<p>
Below you'll find the description of the training offered to Perl developers and QA departments
by <a href="#gabor">Gabor Szabo</a>.
</p>
<p>
In addition to this three or four day long training on how to use Perl in test automation
I am also offering on-site consulting service to <a href="kick_starting_test_automation.html">kick-start</a>
the test automation system by setting up the framework and  coaching the developers.
<!--  <li>Coaching the developers and QA personnel for several weeks to help them achieve the goals of the
company.</li>-->

<a name="training"></a>
<h2>Training: QA Test Automation using Perl</h2>
<p>
Perl has been used for years in QA for various tasks such as
preparing configuration files before the tests run and parsing
log files after the test. In the past few years lots of extensions
have been added to Perl. Now, in addition to the above tasks Perl
can already be used in all parts of the automatic test environment.
<!--
It can be used to behave like a regular user, move the mouse and
click on buttons on any application running on Microsoft Windows
or to become a web client and test any web based application.
-->
</p>

<h3>Audience:</h3>
<ul>
<li>Perl developers who need to write tests for their applications</li>
<li>QA engineers with a background of Perl who need to write automated test to any application</li>
</ul>

<h3>Objectives:</h3>
<ul>
<li>Be able to write unit, integration and system tests in Perl.</li>
<li>Use the testing frameworks that come with Perl.</li>
<li>Overview how Perl can be used in automating tests for Quality Assurance.</li>
<li>Apply Perl in various fields of testing such as Web, Networking, Command line (CLI) and even desktop applications (GUI).</li>
</ul>

<h3>Course format</h3>
<p>
The regular length of the course is 32 academic hours including about 50% time for hands-on exercises.
It is usually given in 4 days (9:00-17:00 or 10:00-18:00) but it can be spread to a longer period.
</p>
<h3>Prerequisites:</h3>
<p>
At least 6 month experience as a Perl programmer or taking an
introductory Perl course prior to this class.
(We can arrange to offer those classes as well, if needed.)
</p>

<h3>Content</h3>
<ul>
<li>First we'll learn about the basic tools of testing and the test frameworks available
in Perl by looking at unit-tests of Perl modules.</li>
<li>Then, we'll expand our set of tools in order to test other kind of applications.</li>
<li>We'll look at testing of

<ul>
<li>Web applications</li>
<li>Command line applications (CLI)</li>
<li>Network Appliances</li>
<li>and even Desktop applications with a GUI.</li>
</ul>

<li>The test will cover unit, integration, system and even acceptance testing
with both white- and black-box testing in mind.</li>
<li>Topics covered in the training include an introduction to the
unit testing framework of Perl using Test::Simple, Test::More
and the Test::Builder ecosystem.</li>
</ul>
<p>
After the training attendees will be able to setup their own
testing framework and start writing unit tests to their 
applications. They will also be able to develop their own specific 
test modules similar to those found in the Test:: name space on CPAN.
Those who already have unit testing in their application will be able
to extend it with the solid knowledge they get on how and why things
work the way they work in TAP.
</p>


<h3>Detailed Syllabus:</h3>
<ul>
<li>Introduction to testing, why, when, who and how ?</li>
<li>Understanding the basic tasks of the QA engineer</li>
<li>Introduction to TAP - the Test Anything Protocol</li>
<li>Testing tools in Perl for testing Perl Modules (Test::Simple, Test::More)</li>
<li>Common reporting framework (Test::Harness, Smolder)</li>
<li>Extending the testing framework (Test::Builder)</li>
<li>Setting up continuous integration (smoke testing)</li>
<li>Command Line Interface applications</li>
<li>Testing network devices with CLI interface</li>
<li>Testing Web application</li>
<li>Web 2.0 application testing</li>
<li>Database testing</li>
<li>Testing file-systems</li>
<li>Microsoft Windows GUI applications</li>
<li>X-Windows testing</li>
<li>A few words about XP - Extreme Programming</li>
<li>Building random regression testing tool</li>
<li>Integrating with PHP, Python and Ruby unit tests</li>
<li>Integrating with JavaScript testing</li>
</ul>

<a name="gabor"></a>
<h2>About Gabor Szabo</h2>
<p>
Gabor - born in Hungary and living in Israel - has been programming
since high-school. He has been using Perl since 1995 and teaching
it both in Israel and overseas since 2000.
</p>
<p>
He is also providing consulting in Perl development with a focus on test
and build automation to companies such as Cisco and Checkpoint.
</p>
<p>Gabor is a <a href="https://metacpan.org/author/SZABGAB">CPAN author</a> and has contributed
tests to many other CPAN modules. He runs the <a href="http://perlmaven.com/">Perl Maven</a>
site, and the <a href="http://perlweekly.com/">Perl Weekly newsletter</a>
</p>
<p>
He has been giving talks at YAPC::EU and YAPC::NA conferences since 2002.
</p>
<p>
For his work in the Perl community, Gabor has received the
<a href="http://www.perl.org/advocacy/white_camel/">White Camel award</a> in 2008.
</p>

