=head1 Perl training materials or even books?
=timestamp 1314729529
=tags Perl, training, books, pdf, download

As I wrote more than a month ago I am making some adjustments to the
way I make a living. Earlier I was mostly doing on-site development
work and training classes.

I definitely want to keep the training classes. I enjoy them very
much. It is great to see people learning new skills and I am always
happy to be part of that learning experience. I even want to offer
further classes around the world. Together with YAPC, Perl Workshop or
stand-alone. It was very encouraging to know that at YAPC::EU in Riga
my Perl Testing class had the biggest number of attendees.

In the same vein I was thinking how to further help people in the Perl
world. Both those who are already using the language and those who are
just learning it.

The <a href="http://perlweekly.com/">Perl Weekly</a> fit this idea
nicely as it allows people who don't have enough time to follow 
all the Perl related news to read just the few pieces I think are 
the most important each week.

This is nice and I enjoy preparing it but it does not bring any
revenue. I can imagine at some point a company might want to include 
its job postings or promote a product to the Perl community,
but it's not there yet.

<h2>Perl training materials</h2>

For many years I couldn't decide what to do with my Perl
training materials.

I mean besides using them in classes.

Most of them are slides with lots of examples and many exercises. Some
of them even have
part of the narrative added as plain text.

At one point I shared the content of both my
<a href="/fundamentals-of-perl">Fundamentals of
Perl</a> and
<a href="http://szabgab.com/perl_in_test_automation.html">QA Test
Automation using Perl</a> courses.

I wanted to share the material with people who could not come to my class.
Later I learned that a local company has taken my material and is
probably using it in their own classes.
That made me stop updating the on-line version of the materials in 2007 or so.

That brings me to the idea of packaging and selling these materials in
pdf or some other electronic format.
Maybe even as real printed books.

All of the materials will need a lot of additional text - everything I'd
normally say in the class - but I think
they could be really useful for people who want to learn these subjects.

Besides the above two courses I also have materials for 
<ul>
<li>Debugging Perl Scripts and Applications</li>
<li>Web Application Development with Perl</li>
<li>Advanced Perl (OOP) including Moose</li>
</ul>
and other Perl-related subjects.

I even have material for <i>Regular Expressions for Java, .NET and
Perl programmers</i>.

<h2>Questions</h2>

There are a number of open questions though:

<ul>
<li>Which material to start with?</li>
<li>What other subject, not mentioned above might be interesting?</li>
<li>Should I start selling only after all of the slides have the
narrative or shall I start selling
right now with the option to get updated version of the same material
as write it?</li>
<li>Should I keep the old material still around on my website with
ample warnings that it is
out-of-date and using it to direct people to the new version?</li>
<li>Should I maybe make the newest slides available without the
narrative and sell the version with the text?</li>
<li>Should I just forget the whole idea and reserve the materials 
for paying students?</li>
</ul>

I'd appreciate reading your opinion in the comments!


