=head1 Perl 6 Tricks and Treats
=timestamp 1153283002
=tags Perl 6, Rakudo, newsletter
=skip rss archive front
=description A series of examples and a tutorial for the Perl 6 programming language as can be used with the Rakudo compiler and runtime engine.

<h2>Perl 6 Tricks and Treats</h2>
<p>
Similar to the <a href="test_automation_tips.html">Test Automation Tips</a> I have setup a newsletter to
send out tricks and treats in Perl 6.
</p>
<p>
<b>Content</b><br>
I am not yet sure how often I'll manage to send out messages but if you are
interested receive my occasional examples, please<br>
<b>sign up here</b> to get the <a href="http://mail.szabgab.com/mailman/listinfo/perl6">Perl 6 Tricks and Treats</a>
</p>

<h2>Posts</h2>
<p>

<ol>
<li><a href="/perl-6--arrays-with-unique-values.html">Arrays with unique values</a></li>
<li><a href="/perl-6--scalar-array-and-hash-interpolation.html">Scalar, Array and Hash interpolation</a></li>
<li><a href="/perl-6--is-a-value-in-a-given-list-of-values.html">Is a value IN a given list of values?</a></li>
<li><a href="/perl-6--looping-over-a-list-of-values-one-at-a-time-two-at-a-time-and-more.html">Looping over a list of values one at a time, two at a time and more</a></li>
<li><a href="/embedding-perl-6-in-perl-5.html">Embedding Perl 6 in Perl 5</a></li>
<li><a href="/perl-6-subroutines.html">Perl 6 subroutines</a></li>
<li><a href="/what-is-the-last-element-of-an-infinite-list-or-how-to-get-started-with-perl-6.html">What is the last element of an infinite list or how to get started with Perl 6 ?</a></li>
<li><a href="/perl-5-to-perl-6--scalars.html">Perl 5 to Perl 6 - Scalars</a></li>
<li><a href="/perl-5-to-perl-6--arrays.html">Perl 5 to Perl 6 - Arrays</a></li>
<li><a href="/perl-6-files.html">Perl 6 files</a></li>
<li><a href="/perl-6-regexes.html">Perl 6 regexes</a></li>
<li><a href="/starting-with-perl-6.html">Starting with Perl 6</a></li>
<li><a href="/perl6-subroutines-and-home-made-operators.html">Perl 6 subroutines and home made operators</a></li>
<li><a href="/http-server-in-perl-6.html">Writing an HTTP Server in Perl 6</a></li>
<!-- <li><a href="/perl6.html">See further entries with screencasts and presentations</a></li> -->
</ol>
</p>

<h2>Perl 6 training, screencasts and presentations</h2>
<p>
There is another page describing the <a href="/perl6.html">Perl 6 training</a> I provide
along with several screencasts and presentations.
</p>

