=head1 Gábor self reporting for 2022.02.06
=timestamp 1644131938
=tags TODO, Report

=abstract start

This report is for January 2022 (See also the <a href="/reports.html">list of previous reports</a>).

=abstract end

<h2>Overview</h2>

Finally, after several months of hardly being able to work for client, this month I managed to work 90 hours.

You see when my boss told us he was leaving the company in October I started to feel uncertainity of the future of my work. It was not clear
if the project will be shut down or will be transfered to another part of the organization. It went on for several weeks. By the time
it looked clear that they want me to continue to work on the project I had lost interest. Besides I had the Advanced Python course in the Weizmann
institute that took a lot more of my time than I expected.

Then when I could have the time to work more on the client project I got interested in Ladino and invested a lot of time both learning the language
and working on various programming projects related to it.

However finally, a few weeks ago my new boss at the client asked me to do some pair-programming with her and I enjoyed that. Since then we spent
almost 90 hours working together. Now I am back being interested in making progress and getting the project up the gates. I even worked quite
a few hours on my own.

It is much better when I am interested in what I am doing...


Besides this I adapted <a href="https://ladino.szabgab.com/wordle/">Wordle to Ladino</a>, had a
<a href="https://code-maven.com/librelingo-2022-01-23">pair-programming session</a> with the author of <a href="https://librelingo.app/">LibreLingo</a>
and started to create my own front-end application using <a href="https://svelte.dev/">Svelte</a> and a command-line/desktop project written in Go.
(Neither of those are public yet.)

I just finished these books:
<ul>
<li><a href="https://www.amazon.com/Firehouse-David-Halberstam/dp/0786888512?tag=szabgab-20">Firehouse</a> by David Halberstam</li>
<li><a href="https://www.amazon.com/gp/product/B07C58ZP5D/">Uprooted: How 3000 Years of Jewish Civilization in the Arab World Vanished Overnight</a> by Lyn Julius</li>
</ul>

I am currently reading

<ul>
<li><a href="https://www.amazon.com/Hope-Honor-Soldiers-Courage-Survival-ebook/dp/B019N1PS8A">Hope and Honor: A Memoir of a Soldier's Courage and Survival</a> by Sidney Shachnow and Jann Robbins</li>
<li><a href="https://www.amazon.com/gp/product/B000VUCIZE">The End of Faith: Religion, Terror, and the Future of Reason</a> by Sam Harris</li>
<li><a href="http://www.kende.hu/konyveim">Röpirat a zsidókérdésről</a> by dr. Peter Kende. A book written in 1985 and published in 1989 about the "Jewish question" in Hungary.</li>
</ul>

We also managed to go for a one-day skiing in <a href="https://skihermon.co.il/">Mt Hermon on the Golan Heights</a>.

<h2>Personal blog posts</h2>

7 posts on my <a href="https://szabgab.com/blog.html">personal site</a> not that bad.

<h2>LinkedIn</h2>

Number of followers:

  Hebrew:   625 (+2)
  English:  557 (-)
  Spanish:   47 (-)
  Hungarian: 11 (-)

  Perl:    806 (+2)
  Python:  761 (+12)
  DevOps:  366 (+1)
  Golang:  211 (-2)

  Personal: 4,289 (+13)

<h2>Twitter</h2>

I primarily posted in my two <a href="/twitter.html">main Twitter accounts</a>.

Number of followers:

  szabgab:      2,416 (-3)
  PerlWeekly:   2,802 (+6)
  PerlMaven:      581 (-)
  Code__Maven:     22 (-)

Frankly, I don't know if there is really any use in participating in Twitter, I guess I'll have to ponder about this in a separate post.

<h2>Patreon</h2>


<ul>
<li>2022.01 ended with 55 Patrons</li>
<li>2021.12 ended with 56 Patrons</li>
<li>2021.10 ended with 54 Patrons and 7 followers</li>
<li>2021.09 ended with 59 Patrons and 7 followers</li>
<li>2021.07 ended with 61 Patrons and 7 followers</li>
<li>2021.05 ended with 63 Patrons and 8 followers</li>
<li>2021.04 ended with 62 Patrons and 8 followers</li>
<li>2021.03 ended with 66 Patrons and 8 followers</li>
<li>2021.02 ended with 66 Patrons and 8 followers</li>
<li>2021.01 ended with 68 Patrons and 8 followers</li>
<li>2020.12 ended with 66 Patrons and 8 followers</li>
<li>2020.11 ended with 69 Patrons and 6 followers</li>
<li>2020.10 ended with 66 Patrons and 6 followers</li>
<li>2020.09 ended with 63 Patrons and 6 followers</li>
<li>2020.08 ended with 54 Patrons and 6 followers.</li>
<li>2020.07 ended with 30 Patrons</li>
</ul>

See a partial <a href="/supporters.html">list of supporters</a>.

<h2>Perl Maven</h2>

On the <a href="https://perlmaven.com/">Perl Maven</a> site there was 1 post in January

You can see them in the <a href="https://perlmaven.com/archive">archive</a>.

<h2>Code Maven</h2>

On the <a href="https://code-maven.com/">Code Maven</a> site there was 1 post in January

You can see them in the <a href="https://code-maven.com/archive">archive</a> there.

<h2>Perl Weekly</h2>

In January I edited 3 out of the 5 issues of the <a href="https://perlweekly.com/">Perl Weekly</a> newsletter.

<h2>YouTube</h2>

The number of followers on the various <a href="/youtube.html">YouTube channels</a>:

  English:   2,410 (+20)
  Hebrew:      242 (+11)
  Spanish:      17 (-)
  Hungarian:    13 (+1)

Funny they are growing even tough I only posted one video.

<h2>Webinars and Meetups</h2>

In these 2 months I had no <a href="https://www.meetup.com/code-mavens/">webinar</a>.

<h2>Live Pair programming</h2>

I had one event about <a href="https://code-maven.com/librelingo-2022-01-23">LibreLingo</a>.

<h2>Spanish lessons</h2>

I had 3 lessons. Slow porgress on Duolingo.

<h2>Ladino lessons</h2>

I was collecting <a href="https://ladino.szabgab.com/">Ladino information</a>. I had a few meetings with a native Ladino speaker.
A very nice lady in her 80s and a Ladino learner who is in her 20s. Very interesting.

I posted a number of messages to the <a href="https://ladinokomunita.groups.io/">mailing list of the Ladino-speaking community</a>.

Created a <a href="https://ladino.szabgab.com/wordle/">Ladino version of Wordle</a>.

<h2>Games</h2>

Still playing lots of games on <a href="https://www.dragongoserver.net/">Dragon Go Server</a>.

<h2>Sport</h2>

According to <a href="https://runkeeper.com/">Runkeeper</a> I went walking 16 times in January.

<h2>Hiking</h2>

If you are interested in the routes and the pictures here are the hikes I did in January:

<ul>
<li><a href="https://www.wikiloc.com/hiking-trails/mishor-yemin-ein-yorkeam-small-fin-92342057">Mishor-Yemin-Ein-Yorkeam-Small-Fin</a></li>
</ul>

After this hike I found out that one of my hiking partners was COVID positive so I had to spend a few days locked in a room and then I had to test myself.
I was negative, but due to this and the huge increase in the Omicron infections in Israel I decided I'll skip the hiking for a few
weeks. I am really missing it and I hope I will be able to go on one next Saturday.


<h2>TODO</h2>

I plan to work around 100 hours for the client.

I might have a Python training course as well.

I plan to contribute more to the LibreLingo project.

I'd like to release at least one word-game I was working on.


