=head1 Gabor self reporting for 2020.09
=timestamp 1601540711
=tags TODO, Report

=abstract start

It is time for the report on September 2020. (Older reports can be found in the <a href="/reports.html">list of previous reports</a>).

=abstract end

<h2>Overview</h2>

I feel that I was a lot less active this month. At one point I felt quite a burn-out. This is not very surprising as I hardly
have time-off. Partially because of the COVID-19, even before the second lock-down we hardly left home.

I definitely need to spend more time away from screens.

<h2>Personal blog posts</h2>

6 posts on my <a href="https://szabgab.com/blog.html">personal site</a>. (compared to 7 in the previous month.)
Even more drafts were added. Unfortunately I think most of the time I don't really finish my drafts so they are
just piling up and never see the light. (Which might be good for humanity.)

<h2>LinkedIn</h2>

This month I quite neglected the LinkedIn pages. I used the allocated 100 invitations for each of the pages,
but for some of the pages I sent out the invitations only on 30th September, so some of those will show up next
month.

The number of followers are still increasing nicely, but the increase in absolute numbers was smaller for each one of them
except of Python. This slower growth is due to the late invitations and the lack of posts.

Number of followers:

  English: 429 (+17)
  Hebrew:  403 (+26)
  Spanish:  32 (+1)
  Hungarian: 8 (-)

  Perl:   364 (+58)
  DevOps: 205 (+33)
  Python: 196 (+57)
  Golang: 118 (+22)

  Personal: 4,047 (+15)

<h2>Twitter</h2>

Same as last month, I primarily posted in my two <a href="/twitter.html">main Twitter accounts</a>.

<h2>Facebook</h2>

I have not done anything in Facebook that I planed, but I am extremely surprised by the activity in
the <a href="https://www.facebook.com/groups/perlprogrammers/">Perl programmers</a> group
and their positive attitude.

It's a pity it is inside Facebook, but if you don't mind it, then you are more than welcome to join!

<h2>Patreon</h2>

<ul>
<li>2020.09 ended with 63 Patrons and 6 followers</li>
<li>2020.08 ended with 54 Patrons and 6 followers.</li>
<li>2020.07 ended with 30 Patrons</li>
</ul>

See a partial <a href="/supporters.html">list of supporters</a>.

I have posted 24 times in September. Less than previous month, but still a lot.
Primarily I was posting a series called <a href="https://code-maven.com/programming-boootcamp-for-scientists">Programming Boootcamp for Scientists</a>
which is also available to the Code-Maven Pro subscribers.

According to my <a href="https://www.patreon.com/szabgab">Patreon page</a> there are now 40 videos, 1 writing and 1 link
available to the Patrons with $5 or more monthly support.

The other posts are public.

<h2>Dev.to</h2>

In response to a <a href="https://perlhacks.com/2020/09/blogging-for-perl/">blog post</a> by Dave Cross I've started to post
on <a href="https://dev.to/szabgab">dev.to</a> as well. Mostly I post videos. We'll see. If you are a dev.to member,
make sure you follow me there.

In September I publish 4 videos on dev.to.


<h2>Perl Maven</h2>

On the <a href="https://perlmaven.com/">Perl Maven</a> site there are 16 posts in September, (there were 9 in both August and July)
as you can see in the <a href="https://perlmaven.com/archive">archive</a>.

Several of them are screencasts.

<h2>Code Maven</h2>

On the <a href="https://code-maven.com/">Code Maven</a> site there are 20 posts in September as you can see in
the <a href="https://code-maven.com/archive">archive</a> there.

Mostly parts of the course called <a href="https://code-maven.com/programming-boootcamp-for-scientists">Programming bootcamp for Scientists</a>.

I've also recorded a few episodes in the <a href="https://code-maven.com/docker">Docker course</a> that I also posted to my Patreon supporters.

<h2>Perl Weekly</h2>

Nothing very exciting on the <a href="https://perlweekly.com/">Perl Weekly</a> newsletter. I edited 2 of the issues
and <a href="http://www.manwar.org/">manwar</a> edited 2.

<h2>CPAN Digger</h2>

No substantial work was done here.

<h2>YouTube</h2>

I uploaded a number of videos, but they are all also published as pages on my other sites, so I should probably not count them here.
The number of followers on the various <a href="/youtube.html">YouTube channels</a>:

  English:   1,972 (+52)
  Hebrew:       79 (+2)
  Hungarian:     9 (-)
  Spanish:       5 (+1)

<h2>Webinars and Meetups</h2>

In September I had two webinars in Hebrew with recruiter leaders from Qualcomm and Dropbox.

<h2>Spanish lessons</h2>

I keep taking my <a href="/spanish.html">Spanish</a> lessons via <a href="https://code-maven.com/italki">italki</a> and kept learning
a bit with <a href="https://www.duolingo.com/">Duolingo</a> as well, even though in the last 2 weeks I think I did not take any class.
I guess I got tired.

<h2>Hebrew</h2>

I kept improving my typing and spelling skills with Duolingo.

<h2>Hiking</h2>

In September I could only go for one hike because it was hot and in the second half of September we started to be in a stricter lockdown.

<ul>
<li><a href="https://www.wikiloc.com/hiking-trails/from-mt-yael-above-nahal-sorek-israel-56628720">From Mt Yael above Nahal Sorek, Israel</a></li>
</ul>

<h2>TODO</h2>

In October I have tons of work. My long-term contract was renewed for another quarter, but I also have 2 training course and another,
much smaller development job. (Actually that's a Perl job.)

So I think I cannot expect a lot of other work from myself as I would also like to be able to relax a bit and have some more time away from the screen.

I should spend some time cleaning up my inbox and finishing many of the tasks I have been postponing for ages.

