=head1 Gabor self reporting for 2021.02
=timestamp 1614672642
=tags TODO, Report

=abstract start

This is the report for February 2021. (See also the <a href="/reports.html">list of previous reports</a>).

=abstract end

<h2>Overview</h2>

The goal of these monthly reports is to allow me, or maybe to force me to really review what happened in the previous month.
However now that I am writing this I just would like to be done with it as I feel that I have a few other, more urgent things to do.
I also felt that in February I managed to accomplish a lot less than in each one of the previous two and it is not just because it was 3 days shorter.

So I was wondering what did I spend my time own, but on the other hand yesterday when I started to write this I sort of was not ready to spend time
on really finding this out.

However without trying to be completely honest with myself I will just feel bad about "wasting my time" and I wont be able to make improvements.

So today in the morning I had a brilliant idea and installed an app called <a href="http://www.atimelogger.com/">aTimeLogger</a> on my phone
to help me track what I am doing. I started the clock when I started to do
my daily Spanish lesson in Duolingo, but then when I was about to get out of bed to dress up, brush my teeth and have some breakfast, I thought
it is going to be nuts if I need to track these activities separately.
Then I checked my e-mail and LinkedIn to see if there are any comments on my posts.
Tracking at that level of details is not going to work and probably won't give me a lot of value either.

Instead I just need to spend more time now to remember what did I do this month that I might not be able to see in my diary.

And then it occurred to me that I spend way too much time in time-killing games on my tablet. This month I played a lot of Spider Solitaire,
and I spent more than a day on some "idle" game that I only called Tamagotchi because it reminded me of that game. In this game you have to keep building
your empire and you have to keep coming back to make progress in this virtual world. The genius in these games is that they let you watch ads to speed up the
game and they even let you pay real money to make faster progress. In effect they built a game and then let you pay so that you don't have to play
all the levels by yourself. Brilliant. And also nasty. Luckily after about two days I managed to delete this game.

In general I think I spend way too much time in such games.

Another thing that I spent a lot of time on was learning touch typing. You see I type quite fast in my own broken manner, but I make
quite a lot of mistakes and I need to look at the keyboard quite often. My daughter just learned touch typing so I thought I can also try it.
I am still not sure if this is a good idea or not, but by now I can type reasonably well using the recommended fingers for touch typing in English.
This of course cost me a lot of time this month and if I want to further improve I will have to practice a lot more.
I can already type at about 20 wpm (word per minute), but so far it is mostly just text and some of the punctuation characters.
I still hardly know the buttons in the top row where you have the numbers and it is extremely hard now to use vim or the command line.
In any case that was another thing I spent a lot of time on. - I looked at the statistics provided by the <a href="https://www.typingclub.com/">Typing club</a>
I use to learn touch typing and according to them I actually spent more time practicing there in January than in February.
The stats show 10:42 hours in January and 9:00 hours in February.
However as I made progress I started to try to use this hand-layout in the real life as well (for example this text I am typing
while making sure I use the "correct" fingers), but this means I actually type slower than if I used my old way of typing.
Especially when it is not just plain text. Oh, and BTW my daughter can now type at more than 90 wpm.
My goal is not to type that fast, but to be more accurate and to be able to type anything without looking at the keyboard.

I spent quite some time preparing for the Python presentations. Maybe not as much as I should have, but enough to give a good presentation
and enough to be noticeable.

I started to stream my coding and learning sessions via <a href="https://www.twitch.tv/szabgab">my Twitch account</a>. I got quite enthusiastic
about the idea, but very few people actually joined me, so I am not sure I will continue doing so. I spent quite some time doing this.
You can see some of the videos on the <a href="https://perlmaven.com/exploring-bdd-in-perl">Exploring BDD in Perl - using Test::BDD::Cucumber</a> series.
The time spent on the live streaming was not wasted, I definitely not consider it that way, but I had to spend time learning about Twitch. Also the
although I am glad I learned about BDD and the Perl module implementing it, I have not finished preparing slides of it and I don't know enough of it
to be really useful. The good old problem of having too many things in the status of WIP, that is Work In Progress. Things for which I already
spent time on, but have not reached the point where it starts to create value to the customers.

I thought about trying to do some live coding or live learning together with some other people - to do some kind of pair programming. That now sounds
like an interesting idea, but I have to work on it more.

I think these were the main time-sinks, beside work I did for clients which of course helps me cover my costs.

<h2>Courses</h2>

In February I hardly done anything about the <a href="https://courses.code-maven.com/">Code Maven courses</a>.
Not good.

<h2>Personal blog posts</h2>

There were 7 posts on my <a href="https://szabgab.com/blog.html">personal site</a>.

<h2>LinkedIn</h2>

The pages are growing, but they grew a lot less than last month, and a lot less than what I was expecting.
Partially because the new inviting system of LinkedIn is not helping.
More importantly because I am running out of connections to invite and most importantly because apparently I have not shared
enough interesting posts to people to like and share and to give other people a good reason to follow.

Number of followers:

  Hebrew:   589 (+19)
  English:  541 (+5)
  Spanish:   32 (-)
  Hungarian: 10 (-)

  Perl:    731 (+43)
  Python:  600 (+85)
  DevOps:  351 (+12)
  Golang:  207 (+7)

  Personal: 4,175 (+18)

<h2>Twitter</h2>

Same as last month, I primarily posted in my two <a href="/twitter.html">main Twitter accounts</a>.

<h2>Facebook</h2>

I posted a few more times on the <a href="https://www.facebook.com/PerlMaven">Perl Maven page</a>,
the <a href="https://www.facebook.com/PythonMaven">Python Maven page</a> and the <a href="https://www.facebook.com/HebrewCodeMaven">page in Hebrew</a>.

It's time to start collecting the numbers to see if there is any progress:

Number of followers:

           Follow   Like
  Perl:    267      248
  Python:  136      135
  Hebrew:   25       25

<h2>Patreon</h2>

No huge changes here.

<ul>
<li>2021.02 ended with 66 Patrons and 8 followers</li>
<li>2021.01 ended with 68 Patrons and 8 followers</li>
<li>2020.12 ended with 66 Patrons and 8 followers</li>
<li>2020.11 ended with 69 Patrons and 6 followers</li>
<li>2020.10 ended with 66 Patrons and 6 followers</li>
<li>2020.09 ended with 63 Patrons and 6 followers</li>
<li>2020.08 ended with 54 Patrons and 6 followers.</li>
<li>2020.07 ended with 30 Patrons</li>
</ul>

See a partial <a href="/supporters.html">list of supporters</a>.

I have posted 20 times in February.
I finished posting the <a href="https://code-maven.com/python-functional-programming">Functional Programming in Python</a> series
and posted many individual blog posts and videos.

According to my <a href="https://www.patreon.com/szabgab">Patreon page</a> there are now 112 videos, 1 writing and 2 links
available to the Patrons with $5 or more monthly support.

All the other posts are public.

<h2>Dev.to</h2>

In <a href="https://dev.to/szabgab">dev.to</a> in February I had one post only.

<h2>Perl Maven</h2>

On the <a href="https://perlmaven.com/">Perl Maven</a> site there are only 22 posts in February (3 in January, 34 in December, 14 in November, 5 in October).

You can see them in the <a href="https://perlmaven.com/archive">archive</a>.

<h2>Code Maven</h2>

On the <a href="https://code-maven.com/">Code Maven</a> site there are 2 posts in February (12 January, 2 December, 7 November, 13 in October).

You can see them in the <a href="https://code-maven.com/archive">archive</a> there.

<h2>Perl Weekly</h2>

Nothing very exciting on the <a href="https://perlweekly.com/">Perl Weekly</a> newsletter. I edited 2 of the issues
and <a href="http://www.manwar.org/">Manwar</a> edited 2.

<h2>CPAN Digger</h2>

I have not done anything regarding the <a href="https://cpan-digger.perlmaven.com/">CPAN Digger</a> in February.
See the <a href="https://perlweekly.com/metacpan.html">stats</a>.

<h2>YouTube</h2>

My uploads slowed down.
The number of followers on the various <a href="/youtube.html">YouTube channels</a>:

  English:   2,110 (+48)
  Hebrew:      167 (+34)
  Hungarian:     9 (-)
  Spanish:       6 (-)

<h2>Webinars and Meetups</h2>

This month I had 3 <a href="https://www.meetup.com/code-mavens/">webinars in Hebrew</a>.
One about Decorators (and higher order functions) in Python and the other two were part of the Pytest course.

For next month I've scheduled 2. One about OOP in Python and one about testing in Python.

<h2>Spanish lessons</h2>

I keep learning Spanish with <a href="https://www.duolingo.com/">Duolingo</a>.

I had no <a href="/spanish.html">Spanish</a> lessons via <a href="https://code-maven.com/italki">italki</a>.

I keep listening to podcasts in Spanish and I watched a few YouTube channels that are aimed to native Spanish speakers.

<h2>Hebrew</h2>

I kept improving my typing and spelling skills with Duolingo. I feel more and more confident writing even to real people.

<h2>COVID 19</h2>

We are all fully vaccinated using the Pfizer vaccine. This makes me more relaxed, but I still keep my distance and use face-mask whenever I go to a place
with people. Which is quite rare.


<h2>Sport</h2>

According to <a href="https://runkeeper.com/">Runkeeper</a> I went walking 13 times in February ranging between 2-6 km each.
I often go to the supermarket or to the bakery as an excuse.

<h2>Hiking</h2>

Finally we are out of the lockdown at least partially and I could go hiking.

If you are interested in the routes and the pictures here are the 3 hikes

<a href="https://www.wikiloc.com/walking-trails/zanoah-65660250">Zanoah</a> is in the direction of Jerusalem
<a href="https://www.wikiloc.com/walking-trails/canada-park-park-ayalon-israel-66609962">Canada Park (aka. Park Ayalon)</a> is just 10 km from where
I live and it is a nice area so I go there often. These two were "short" 2-3 hours long hikes.

On Saturday I went on a much longer hike to
<a href="https://www.wikiloc.com/walking-trails/en-boqeq-ein-boqeq-ein-bokek-dead-sea-israel-66695369">En Boqeq (aka. Ein Boqeq or Ein Bokek)</a>
above the Dead Sea in Israel. The starting point is 2 hours drive from where I live and then I hiked for almost 8 hours. I got
really tired, but that's a beautiful desert area. I was lucky and met a friendly family of <a href="https://en.wikipedia.org/wiki/Nubian_ibex">Nubian ibex</a>.
They let me pass near them.


<h2>TODO</h2>

In March I'll spend again about 10 days working for long-term contract.

I also teach a full <a href="https://courses.code-maven.com/p/python-programming-bootcamp"><b>Programming Bootcamp for Scientists</b></a> in the
<a href="https://www.weizmann.ac.il/">Weizmann Institute of Science</a>. Although the presentations are already recorded, it will still
take a lot of time to help the students and to check all the solutions of their exercises and their final project.

I think I will try to keep improving my touch typing capabilities.

At least 5 videos publicly to the English YouTube channel. This month I definitely have to start recording and publishing videos about subjects other than Perl.
I should start to talk about Python as well.

At least 10 public videos on the Hebrew YouTube channel. These are the Webinar recording and republishing some of the already recorded videos.

I need to record many parts of my existing courses and probably also start a few new courses.

I won't set a numeric goal for number of followers on LinkedIn or on Facebook, I just need to make sure I post frequently at least in the
<a href="https://www.linkedin.com/showcase/code-maven-python/">Python Maven</a> and the <a href="https://www.linkedin.com/showcase/perl-maven/">Perl Maven</a> LinkedIn pages.

Sport: keep walking every 2nd or 3rd day and go to hike 3-4 times. I plan to go to the Negev desert and maybe again to the Dead Sea. I also plan to go for a hike in one of the
near-by place where there are green trees.

