=head1 Gábor self reporting for 2021.07
=timestamp 1627839903
=tags TODO, Report

=abstract start

This report is for June-July 2021 (See also the <a href="/reports.html">list of previous reports</a>).

=abstract end

<h2>Overview</h2>

The previous report was late, only on 11 June and then at the beginning of July I completely forgotten
to write my report. Probably because on the 3rd of July I flew to Hungary to stay with my mother for 3 weeks.
Only a few days ago I thought about it and now I got back on schedule and I am preparing the report on
the 1st August.

A large part of my time in the previous two months was spent on learning Crystal, preparing
<a href="https://www.youtube.com/watch?v=m-ml18xXWek&list=PLe1-A91ZPTpBBrrIV-N_fMmCWbFM4Uj4v&index=2">the presentation</a>
for the <a href="https://crystal-lang.org/conference/">Crystal 1.0 Conference</a> and preparing the
<a href="https://code-maven.com/slides/crystal/">slides</a> for
the <a href="https://code-maven.com/crystal-course">Crystal course</a> I started to teach via Zoom.

I got several new clients. Mostly helping them with the development process.
(Git, GitLab, CI pipeline, Dockerisation, Kubernetes (K8s), Amazon AWS, Microsoft Azure are the major components.)
I already have experience with some of the things we need to do, but many things are new to me so this includes a
lot of learning as well. Which, I have to admit, is hard.

In May-June the COVID wave in Israel was very low and by July also in Hungary the reported cases were very low.
I used the opportunity to visit my mother for the first time in 1.5 years. It was really great to be able to spend
some time with her.

I also managed to meet some friends.

Being able to be in touch via video-chats made this year and a half much easier, but being in the same space,
or going for a hike together is way better. Even if avoided physical contact with my friends to reduce our risks.


<h2>Personal blog posts</h2>

There were 9 posts on my <a href="https://szabgab.com/blog.html">personal site</a> in 2 month,
7 of them in the last 10 day. The reason for this surge is my <a href="/daily-task.html">Daily Task</a>
project (that maybe I should have called daily blog).

<h2>LinkedIn</h2>

Number of followers:

  Hebrew:   623 (+3)
  English:  554 (+2)
  Spanish:   42 (-)
  Hungarian: 10 (-)

  Perl:    798 (+2)
  Python:  714 (+24)
  DevOps:  361 (-2)
  Golang:  212 (+1)

  Personal: 4,241 (+17)

Without posting often one can't gain new followers.

<h2>Twitter</h2>

Same as last month, I primarily posted in my two <a href="/twitter.html">main Twitter accounts</a>.

Number of followers:

  szabgab:      2,435 (-1)
  PerlWeekly:   2,796 (+7)
  PerlMaven:      584 (-1)
  Code__Maven:     22 (-1)

<h2>Facebook</h2>

Number of followers from the May 2021 report.
Recently I <a href="/wasting-time-on-facebook.html">started to avoid Facebook</a> again.
I'll get back once I feel I have enough self-control not to waste my time there.

                 Follow         Like
  Perl  Maven:    288 (+7)      270 (+7)
  Python Maven :  171 (+3)      168 (+3)
  Hebrew:          27 (-)       27 (-)

<h2>Patreon</h2>

No huge changes here.

<ul>
<li>2021.07 ended with 61 Patrons and 7 followers</li>
<li>2021.05 ended with 63 Patrons and 8 followers</li>
<li>2021.04 ended with 62 Patrons and 8 followers</li>
<li>2021.03 ended with 66 Patrons and 8 followers</li>
<li>2021.02 ended with 66 Patrons and 8 followers</li>
<li>2021.01 ended with 68 Patrons and 8 followers</li>
<li>2020.12 ended with 66 Patrons and 8 followers</li>
<li>2020.11 ended with 69 Patrons and 6 followers</li>
<li>2020.10 ended with 66 Patrons and 6 followers</li>
<li>2020.09 ended with 63 Patrons and 6 followers</li>
<li>2020.08 ended with 54 Patrons and 6 followers.</li>
<li>2020.07 ended with 30 Patrons</li>
</ul>

See a partial <a href="/supporters.html">list of supporters</a>.

I only posted 5 times in June and not even once in July, however I had many posts on the other sites, I just have not
notified my Patreon supporters.

According to my <a href="https://www.patreon.com/szabgab">Patreon page</a> there are now 112 videos, 1 writing and 2 links
available to the Patreons

All the other posts are public.

<h2>Dev.to</h2>

In June-July I had no post on <a href="https://dev.to/szabgab">dev.to</a>.

<h2>Perl Maven</h2>

On the <a href="https://perlmaven.com/">Perl Maven</a> site there are 3 in June and 3 in July.  (4 in May, 21 in April, 16 in March, 22 in February and 3, 34, 14, 5 in the previous months).

You can see them in the <a href="https://perlmaven.com/archive">archive</a>.

<h2>Code Maven</h2>

On the <a href="https://code-maven.com/">Code Maven</a> site there are 17 posts in June and 6 in July. (21 posts in May, 16 in April, 7 in March, 2 in February and 12, 2, 7, 13 in the previous months).

You can see them in the <a href="https://code-maven.com/archive">archive</a> there.

<h2>Perl Weekly</h2>

In the past 2 months I edited 4 of the issues and <a href="http://www.manwar.org/">Manwar</a> edited 4 issues of the <a href="https://perlweekly.com/">Perl Weekly</a> newsletter.

<h2>YouTube</h2>

The number of followers on the various <a href="/youtube.html">YouTube channels</a>:

  English:   2,289 (+53)
  Hebrew:      207 (+9)
  Hungarian:    12 (+2)
  Spanish:      11 (+1)

<h2>Webinars and Meetups</h2>

In these 2 months I had only one <a href="https://www.meetup.com/code-mavens/">webinar</a>.

<h2>Live Pair programming</h2>

I had a lot less live pair programming events than earlier. We partially gave up on one of the application
and finished the other one. At leas to the current level of requirements.
Check out the <a href="https://code-maven.com/live">live pair programming events</a> page where I list all the previous
episodes and all the planned events.

I have some plans going forward to renew the live programming sessions, but I am also going to be a bit busy with
a lot of other things, so it won't be as it was earlier.

<h2>Spanish lessons</h2>

Keep using <a href="https://www.duolingo.com/">Duolingo</a> on a very shallow level.

In June-July I think I did not have <a href="/spanish.html">Spanish</a> lessons via <a href="https://code-maven.com/italki">italki</a>.

<h2>COVID 19</h2>

It is effectively over here in Israel. Very few restrictions remain, but traveling abroad is still not easy.

<h2>Games</h2>

Playing lots of games on <a href="https://www.dragongoserver.net/">Dragon Go Server</a>
and also on <a href="https://online-go.com/">Online Go</a>.


<h2>Sport</h2>

According to <a href="https://runkeeper.com/">Runkeeper</a> I went walking 15 times in June and 15 times in July.

<h2>Hiking</h2>

If you are interested in the routes and the pictures here are the 1 hike I had in June:

<ul>
<li><a href="https://www.wikiloc.com/walking-trails/har-hatayasim-ramat-raziel-75572311">Har HaTayasim - Ramat Razi’el, Israel</a></li>
<li><a href="https://www.wikiloc.com/hiking-trails/neve-ativ-mt-hermon-76192565">Neve Ativ - Mt Hermon, Israel</a></li>
<li><a href="https://www.wikiloc.com/walking-trails/holdvirag-arok-korul-77910955">Kiskovácsi, around Holdvirág, Hungary</a></li>
<li><a href="https://www.wikiloc.com/walking-trails/kortvelyes-vertes-hungary-78546467">Körtvélyes - Vértes - Hungary</a></li>
</ul>

See also my <a href="https://www.meetup.com/Hiking-in-Israel/">Hiking in Israel</a> Meetup group.

<h2>TODO</h2>

I have now 5 clients for whom I need to do lots of work with GitLab, CI, CD, Kubernetes. I also need to work on the
material of my new course, the <a href="https://hostlocal.com/eng/advanced-course-for-scientists">Advanced Programming course for Scientists</a>
that I start to teach in October. I have 2.5 months to prepare everything.

In addition I'd like to continue preparing and teaching the <a href="https://code-maven.com/crystal-course">Crystal Course</a>.

I also plan to continue doing <a href="https://code-maven.com/live">live</a> pair-programming sessions, but I know I won't have time
to do as many as earlier. Besides that most of my work with clients is being done in pairs or with the whole team which takes a lot more
energy than working alone.

I would like to be able to continue my <a href="/daily-task.html">daily task</a>, but thinking about it, what I would really need is to
have a "daily accomplishment". Working on some project and not making progress (because of bugs, difficulties etc.) makes me feel very bad.
However if I can point to something that felt valuable that day, it makes everything much better. I need to work on this though.

