=head1 Report for January 2013
=timestamp 1361531061
=tags Perl, TODO, Report

=abstract start

Last year, I wrote monthly TODO lists, and reports of my online accomplishments.
Well, I wrote them sometime. This year, I have not even written a New Year's Resolution as
it was so unclear what was the correlation between my plans for 2012 and my actual results.

So let's write just results.

(Yes, I know, it is  bit late for the January report, but better late than...)

=abstract end

<h2>January 2013 report</h2>

<ul>
<li>11 articles on <a href="http://perlmaven.com/">Perl 5 Maven</a></li>
<li>3 articles on <a href="http://blogs.perl.org/">blogs.perl.org</a></li>
<li>3 articles on <a href="http://szabgab.com/">szabgab.com</a></li>
</ul>

A toal of 17 articles.

The Unique visitor count on the Perl 5 Maven site went from 14,275 in December 2012, to 21,707 in January 2013.
(That's 52% growth though December is a relatively slow month due to the Holidays.)
The visits count went from 17,815 in December 2012, to 27,799 in January 2013.
The Returning visitors rate went up from 24.79% to 27.79%.

At the same time szabgab.com went from 6,913 unique visitors to 8,206. This surprised me a bit, as I thought it will
decline, but maybe the effect of December is bigger than what I thought.


<h3>Beginner level</h3>

The following articles were part of the <a href="http://perlmaven.com/perl-tutorial">Perl Tutorial</a>.

<ul>
<li><a href="http://perlmaven.com/barewords-in-perl">Barewords in Perl</a></li>
<li><a href="http://perlmaven.com/core-perl-documentation-cpan-module-documentation">Core Perl documentation and CPAN module documentation</a></li>
<li><a href="http://perlmaven.com/download-and-install-perl">Download and install Perl</a></li>
<li><a href="http://perlmaven.com/perl-on-the-command-line">Perl on the command line</a></li>
<li><a href="http://perlmaven.com/undef-and-defined-in-perl">undef, the initial value and the defined function of Perl</a></li>
<li><a href="http://perlmaven.com/automatic-value-conversion-or-casting-in-perl">Automatic string to number conversion or casting in Perl</a></li>
<li><a href="http://perlmaven.com/open-and-read-from-files">Open and read from text files</a></li>
</ul>


<h3>META::CPAN related articles</h3>

There were several articles on how to fetch data from <a href="http://metacpan.org/">Meta CPAN</a> via its API and how
to configure the CPAN modules so they - or rather their META files - provide some of the information.

<ul>
<li><a href="http://perlmaven.com/how-to-add-link-to-version-control-system-of-a-cpan-distributions">How to convince Meta CPAN to show a link to the version control system of a distribution?</a></li>
<li><a href="http://perlmaven.com/list-all-the-perl-modules-and-distributions-in-a-namespace-using-meta-cpan">List all the Perl modules and distributions in a name-space using Meta CPAN</a></li>
<li><a href="http://perlmaven.com/fetching-meta-data-from-meta-cpan">Fetching META data from Meta CPAN</a></li>
<li><a href="http://szabgab.com/license-and-repository-of-cpan-packages.html">The license and the repository of Perl modules on CPAN</a></li>
<li><a href="http://blogs.perl.org/users/gabor_szabo/2013/01/50-of-the-new-cpan-uploads-lack-a-repository-link.html">50%
of the new CPAN uploads lack a repository link</a></li>
</ul>

<h3>Perl and Windows</h3>

While for me personally Windows is only a secondary platform, I believe there are many people who use Windows who could
use Perl solving some issues. For that it seems to be important to make sure most of the CPAN modules work on Windows as
well.

<ul>
<li><a href="http://blogs.perl.org/users/gabor_szabo/2013/01/13-of-cpan-distributions-dont-have-a-test-report-on-windows.html">13%
of CPAN distributions don't have a test report on Windows</a></li>
<li><a href="http://blogs.perl.org/users/gabor_szabo/2013/01/anyeventforkmanager-stuck-on-strawberry-but-not-on-activeperl.html">AnyEvent::ForkManager stuck on Strawberry but not on ActivePerl?</a>
</ul>

<h3>General help</h3>

Someone asked me for help with parsing a log file. Here is the solution.
<ul>
<li><a href="http://perlmaven.com/parsing-error-log">Help with perl (parsing error log)</a></li>
</ul>


<h3>Community related</h3>

I was happy to see that this year too the Perl community was present at FOSDEM. Both with a dev-room and a booth.

<ul>
<li><a href="http://szabgab.com/perl-at-fosdem-2013-and-the-outreach.html">Perl at FOSDEM 2013 and the outreach</a></li>
</ul>


<h3>Other</h3>

A solution with Unix/Linux Shell and a bit of Perl.

<ul>
<li><a href="http://szabgab.com/fetching-the-status-of-blog-entries.html">Fetching the status of blog entries using grep and cut</a>
</li>
</ul>

<h2>Trainings</h2>

I had 3 on-site training days running a <b>Beginner Perl Maven</b> course.

<h2>Plans for February 2013</h2>

JFDI

<!-- perl5maven.com links replaced by perlmaven.com links -->

