=head1 Gabor self reporting for 2020.07
=timestamp 1596349100
=tags TODO, Report

=abstract start

After a good start at the end of 2019 with a <a href="/report-2019-11.html">report for 2019.11</a> and <a href="/report-2019-12.html">report for 2019.12</a>
I got myself busy and lazy and I have neglected my monthly reporting. The staying-at-home from the middle of March did not help either.
Even though I suddenly gained lots of free hours that earlier I spent on commuting.

Anyway, now that I have restarted working with my <a href="/supporters.html">supporters</a> via <a href="https://patreon.com/szabgab">Patreon</a>
I really need to get back to monthly reporting.

=abstract end

Let's try to review July 2020 now.

<h2>SEO</h2>

I had some discussions on the "Marketing" channel of The Perl Foundation Slack workspace.
Unfortunately the thing that I proposed did not make progress even though it could have been just a couple of people starting to do stuff.

What came out of it that was really good is that I chatted with <a href="https://twitter.com/davorg">davorg</a>,
(aka. <a href="https://davecross.co.uk/">Dave Cross</a>) who had
a few SEO-related suggestions. Probably the most important among those were setting the canonical meta-tag and using
<a href="https://developers.google.com/web/tools/lighthouse">Lighthouse</a> to improve the
<a href="https://perlmaven.com/">Perl Maven</a> and the <a href="https://code-maven.com/">Code Maven</a> sites.

I made some speed improvements and made the pages a lot more mobile friendly.

<h2>Blog posts</h2>

17 posts on my <a href="https://szabgab.com/blog.html">personal site</a>. Some of them are just listing all the
accounts on the various social networks such as
8 pages on <a href="https://szabgab.com/linkedin.html">LinkedIn</a>,
4 <a href="/twitter.html">Twitter</a> accounts,
1 <a href="/facebook.html">Facebook</a> page,
4 <a href="/youtube.html">YouTube</a> channels.

Yeah, I know I am not focused.

In the other posts I was primarily writing about my efforts on LinkedIn to gain followers which brings me to:

<h2>LinkedIn</h2>

Between 10-12th July I've opened 4 new <a href="/linkedin-pages.html">LinkedIn pages</a> for 3 topics.
First it was <a href="https://www.linkedin.com/showcase/code-maven-devops/">DevOps</a> and
<a href="https://www.linkedin.com/showcase/code-maven-python/">Python</a> as those are two topics I write about a lot and are very popular.
Then I opened a paged for <a href="https://www.linkedin.com/showcase/code-maven-golang">Golang</a> because that interest
me to delve into more deeply even though there don't seem to be that many people using it.
Finally I opened one for <a href="https://www.linkedin.com/showcase/perl-maven/">Perl</a> as well.

On one hand I was reluctant to open one about Perl as the numbers seemed to indicate very few people
on LinkedIn are actually interested in Perl, on the other hand I still have the most content and most
experience with Perl. I was surprised to see it became the most popular of the 4 pages so far with
more than 200 followers after less than 3 weeks

Number of followers:

  English: 394
  Hebrew:  342
  Spanish:  31
  Hungarian: 8

  Perl:   200
  DevOps: 122
  Python:  92
  Golang:  68

I was not sure how often to post to each one of the pages. The recommendations are between 2-5 posts / week.


<h2>Twitter</h2>

I used two of my Twitter accounts quite frequently but now I got <a href="/back-to-twitter.html">back to use Twitter</a>
with two other accounts and engage a bit more with the other Twitter members.

<h2>Facebook</h2>

On 30 July I rejoined Facebook, created a page for sharing Perl code snippets and joined a number of groups.
my plan is to take the same code-snippets, explanations, videos etc. I already share on LinkedIn
and share them on Facebook as well.

Make it easy for people to follow my content on the social network they already use frequently.
This means I'll probably open other pages as well for the other topics I cover, but first I'd like to
see how well can I handle this one and if the people on Facebook will follow it or not.

<h2>Patreon</h2>

I opened my <a href="https://www.patreon.com/szabgab">Patreon account</a> in December 2017
and I had a few supporters, but I did not understand how could I really use it so I have not invested
a lot of energy promoting it.

On 27 July I started to change that. I changed what the various supporters receive and started to
invite more people to support me.

So far the number of supporters went up from 24 to 30 (though payment from 2 is still pending so maybe I'll end up with 28)
the income went up from $69 to $117 (or maybe a bit more if the payment for the 2 pending will go through.)

It is still very far from my hopes, but nevertheless an impressive increase in just 4 days.

I have posted one video every day since I restarted the Patreon account and I think I'll keep doing that for a few weeks
so my top supporters will have a substantial library of videos to choose from. After that I'll probably reduce the
frequency to a slightly saner level.

<h2>Perl Maven</h2>

On the <a href="https://perlmaven.com/">Perl Maven</a> site there are 9 posts in July
as you can see in the <a href="https://perlmaven.com/archive">archive</a>
thought 2 of them are more administrative and 2 of them about Moo were split out from another page
to make it easier for everyone to find the answers.
(I split them out because when I was looking for the answers it took me a long time to find them
inside another page.)

<h2>Code Maven</h2>

On the <a href="https://code-maven.com/">Code Maven</a> site there are 16 posts in July as you can see in
the <a href="https://code-maven.com/archive">archive</a> there. Here too there were 3 administrative
(or marketing?) posts and most of the Jenkins-related pages were split out from the main Jenkins page
where I had way too many examples. I still have to work a lot on these pages to include nice explanations
as well, but having their own page with their own title will already probably help.

I also have 4 posts on the <a href="https://he.code-maven.com/archive">Hebrew version</a> of the Code Maven site.

<h2>Perl Weekly</h2>

Nothing exciting on the <a href="https://perlweekly.com/">Perl Weekly</a> newsletter. I edited two of the issues
as <a href="http://www.manwar.org/">manwar</a> does every second issue.

We gain a few new readers here and there, but the number of people who leave us is always bigger than that.
I am not sure if we could do anything. Could we make the Perl Weekly more exciting or it just the slow, but steady
decline in the number of people who are deeply interested in Perl?

<h2>YouTube</h2>

I uploaded a number of videos, but they are all also published as pages on my other sites, so I should probably not count them here.
I can publish the number of followers on the various <a href="/youtube.html">YouTube channels</a> though.

  English:   1,895
  Hebrew:       71
  Hungarian:     9
  Spanish:       4

Yeah, so the English channel has been around for a very long time and it gets a few new subscribers very month (I think in July it grew by 28 subscribers)
but the others hardly see any growth. Sure it is not very surprising as I hardly upload any videos in Hungarian and Spanish.

<h2>Webinars</h2>

In July I had two webinars in Hebrew and one in English. They are all posted on the Code-Maven site.

<h2>Home improvement</h2>

We used to have air-conditioning only in our living room which was OK as long as we were working in various offices,
and spent time at home only in the evenings, but now that we work from home and it is summer in Israel it was unbearable.

Or better to say it was really hard to think and focus on work while the room was 30-35 C.

Finally we have installed air-condition in our other rooms as well. It was a mess for 4 days till the workers were here,
but what an improvement in quality of life!

We also got a new Internet connection installed using Fiber-optic cables. It is supposed to be 200 Mbps downstream and 20 Mbps upstream.
With a little hiccup when the cut the cable two days after they installed it (it was not funny), the new installation works great.

I especially love the upstream that I need to upload videos to YouTube, LinkedIn, and now to Facebook as well.

<h2>Spanish lessons</h2>

Unless you watch my <a href="https://es.code-maven.com/youtube">Spanish YouTube channel</a> or follow my <a href="https://es.code-maven.com/linkedin">Spanish LinkedIn page</a>
you are probably don't care that I keep taking my <a href="/spanish.html">Spanish</a> lessons via <a href="https://code-maven.com/italki">italki</a> and keep learning
(a bit) with <a href="https://www.duolingo.com/">Duolingo</a> as well.

<h2>Korean</h2>

I started to learn a bit of Korean using Duolingo. For now it is a fun game of recognizing drawings, but the transliterations with Latin letters
for English speakers is really strange. I am not sure they are helping me at all.

<h2>Activity or impact?</h2>

In this report I listed bunch of my actions (e.g. how many posts I made on my various sites) and some of the impact
(the number of followers/subscribers on various channels).

I wonder though which is more important to measure and what should I do next month?

Assuming I'll write a report again.

In the end I think the "impact" would be a lot more important to measure as that what really matters, right?

Of course "impact" is not the number of followers, but how their life improved by a really-really small thing:
e.g. They got help solving a problem. They learned something new. They enjoyed themselves.
or maybe something much bigger like finding a better job.

That would be the really good thing to measure, the number of followers is just a proximation. A very rough proximation.

There are other measurements, for example the number of visitors to the web site or the number of viewers of a video,
or the % of the video they saw. These can all provide some indication. The number of "likes" and "re-shares" can also
provide some indication.

Unfortunately a lot of the above depends a lot on external factors. For example recently I saw a decline in the number
of visitors to the Code Maven site. It is most likely because Google values the site less. But why is that?

<ul>
<li>Is it because I added a video to every page that increased the load time?</li>
<li>Is it because I have removed the Google-based ads from my site so Google has less interest to bring me visitors?</li>
<li>Is it just some change in the algorithm of Google and has nothing to do with any of my actions?</li>
</ul>

This impact can also take a lot of time to be realized. For example many people will only subscriber to a YouTube
channel only once they saw a number of good videos. It can take time.

So if measuring the impact is that hard and that unreliable then at least we can measure activity.

How many new posts. How many new videos. etc.

In the end this might also be interesting to the people who pay for my services on the Code Maven site
or who support me via <a href="https://patreon.com/szabgab">Patreon</a>.

If they cannot see clearly how much value people got from my content that was created by their support,
at least they can see how many posts were made. That's better than no information at all.


<h2>Conclusion</h2>

It is really useful that I maintain a private diary where, if I don't forget, I write down the things I do.

I probably need to automate the collection of some of the numbers presented here because that can be automated.

It took me about 2 hours to write this report. I should probably improve on that to make it reasonable.

