=head1 Restarting time?
=timestamp 1286051152
=tags Perl, Padre, testing, new year

It has been more than a month since I last blogged. It's funny as after a relatively long period of calmness, 
just a month before my vacation I got so much work that I was well more than fully booked.

Yesterday we returned from out vacation in Hungary-Slovenia-Italy and now I am back in the pressure.
I have two upcoming training classes of 4 days each and 3 clients than need my programming/consulting
time urgently.

I am not yet sure how I'll manage to fit all this in my time and how am I going to be able to 
add some open source work to this.

First thing of course is cleaning up e-mails. Surprisingly I had only 370 messages in my inbox and I could easily halve them.

I also have the regular accounting work I need to do urgently and I guess cleaning up my desk would not hurt either.

In the meantime I have some improvements for <a href="http://padre.perlide.org/">Padre, you know, the Perl IDE</a>. 
I have some changes I need to finish and commit, I'd like to restart some noise making 
(it seems the word marketing has a bad name...) and I'd also like to clean up the more than 500
<a href="http://padre.perlide.org/trac/report/1">tickets</a> we have.

The <a href="http://szabgab.com/perl6.html">Perl 6</a> screencast also needs new episodes and I 
am thinking about a series of articles and screencasts about 
<a href="http://szabgab.com/test_automation.html">Test Automation</a> renewing the newsletter I have.

I also found and integration point between Padre, <a href="http://cpanforum.com/">CPAN::Forum</a> and
the need of a client that I'll try to integrate. We'll see how I manage to implement and integrate those.

There are a number of other things I am planning in my professional life but I think this is enough for
now. I'd better get started with the e-mail cleaning and renew the regular blogging.

