=head1 Shana Tova - New Year's resolution
=timestamp 1224089702
=tags Perl, Perl 5, new year, CPAN, testing

Every January people decide on their 
<a href="http://en.wikipedia.org/wiki/New_Year_resolution">New Year's Resolution</a>
on how they are going to change.

As I live in Israel I have an excuse to do it twice. Once in January
with all the other people and once on the Jewish New Year. 
As it was just a couple of weeks ago I think this might be the right
time to both wish you 
<a href="http://en.wikipedia.org/wiki/Shana_Tova#Traditional_Rosh_Hashanah_greetings">Shana Tova</a>
to all of you and make some changes.

<b>Finding a better home for some CPAN modules</b>

The big issue is that <a href="http://search.cpan.org/~jmcnamara/">John McNamara</a>
has agreed to take over maintainership of [dist://Spreadsheet::ParseExcel].
This is excellent news as the module is a very important one for many people
and John as the author of [dist://Spreadsheet::WriteExcel] is very capable to 
maintain this module as well.

The other big issue is that <a href="http://www.maddingue.org/">Sébastien Aperghis-Tramoni</a>
agreed to take over [dist://Net::RawIP] that provides data capturing and package
creation for the network layer. As he is already maintaining [dist://Net::Pcap]
that provides the same capturing functionality just better he will probably simplify 
Net::RawIP by remove the capturing part and make the package creation part better. 

<b>Working on Padre</b>

This is not really new but I took a break from it as I went on vacation with my family.
In the next couple of months I plan to work a lot on 
<a href="http://padre.perlide.org/">Padre, the Perl IDE</a>

<b>Working on CPAN::Forum</b>

I should resume my work on <a href="http://www.cpanforum.com/">CPAN::Forum</a> as it needs
lots of improvements.

<b>International Test Automation Training</b>

I would like to strengthen my <a href="/perl-in-test-automation">Test Automation Training</a>
offering in both Europe and the USA. I already talked to several people in some of the major 
European cities and will schedule training classes soon. For that I'll need translation of the
above mentioned page in other languages as well. 
(I already have one in <a href="/perl_in_test_automation_fr.html">French</a>)

<b>OSDC::Israel::2009</b>

Very urgently I have to resume the organization of 
<a href="http://act.osdc.org.il/osdc2009il/">OSDC::Israel::2009</a>
or we run out of time and will have to cancel it again.

<b>Test Automation Tips</b>

I'll continue writing my <a href="/test_automation_tips.html">Test Automation Tips</a>
and will even increase its frequency as I have many subject I'd like to write about.

That's all I think in my professional life for now.

