=head1 Subversion vs. XYZ
=timestamp 1253282990
=tags Subversion, SVN, ClearCase, CVS, Perforce, PVCS

<h1>How does Subversion compare to XYZ Version Control System?</h1>

<p><a href="http://subversion.tigris.org/">Subversion</a> is a hot topic in the field of Configuration
Management. Since its first official stable release it took the Open Source market by storm and
based on the traffic on the SVN Users mailing list many commercial companies have also moved their
version control to it.
<br />
As usual, people want to compare Subversion with other version control tools. On this page, I
am going to collect links to articles and discussions on these issues, grouped by the various
other CM tools.
</p>
<h2>General</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?listName=users&amp;from=343739&amp;count=5&amp;by=thread">SubVersion - Pros and cons in big projects</a>
(July 2005) (also mentioned to VSS, ClearCase and Perforce and Team System).
</li>
<li><a href="http://better-scm.berlios.de/">Better SCM</a> (May 2005), an item by item comparison of
several SCM tools including Subversion and SVK. Written by Shlomi Fish.
</li>
<li><a href="http://subversion.tigris.org/testimonials.html">Subversion Testimonials</a> (see dates on site)
on the Subversion project site listing several (favorable) testimonials.
</li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=349091">Thick vs Thin Client SCM Tools</a>
(July 2005) Discussing how much information should the server know
about the workspaces. (Also mentions ClearCase)</li>
</ul>

<h2>Subversion vs ClearCase</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?listName=users&amp;from=342411&amp;count=25&amp;by=thread&amp;paged=false">Subversion vs ClearCase</a>
discussing <a href="http://www.pti.co.il/clearcase_vs_subversion.html">this comparison</a> (July 2005)
</li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=223931">ClearCase vs. Subversion, from a long time ClearCase user</a>
and <a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=223919">part 2</a> of the same discussion. (Aug 2004)
</li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=346159">Working across the continents</a>
(July 2005) is an interesting discussion on ClearCase vs Subversion + SVK
</li>
</ul>

<h2>Subversion vs CVS</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=244880">CVS/SVN comparison</a>
(October 2004)</li>
</ul>

<h2>Subversion vs StarTeam</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/ReadMsg?list=users&amp;msgNo=15471">Subversion vs. StarTeam</a></li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=221676">Subversion vs. StarTeam (part 2)</a></li>
</ul>

<h2>Subversion vs. Perforce</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=340841">SVN / PERFORCE comparison</a></li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=340949">SVN / PERFORCE comparison (Perforce Jobs)</a></li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=340902">This is possible with PERFORCE > is it with SVN (yet ;) ) ?</a></li>
</ul>

<h2>Subversion vs. PVCS</h2>

<h2>Subversion vs Visual SourceSafe (VSS)</h2>
<!--
<ul>
<li><a href="http://www.wadhome.org/svn_vs_vss.txt">SVN vs VSS on Wadhome</a></li>
</ul>
-->
<h2>Subversion vs. Microsoft Team Foundation</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=351087">Microsoft Team Foundation vs. Subversion</a>
(July 2005) Comparing while TFS is still in beta.
</li>
</ul>

<h2>Subversion vs. GIT</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?listName=users&amp;from=356500&amp;count=18&amp;by=thread">git is a lot better than SVN (???)</a>
(August 2005)<br />
referring the <a href="http://kerneltrap.org/node/5557">Linux: Using Git For More Than The Kernel</a> article</li>
</ul>

<h2>Other</h2>
<ul>
<li><a href="http://www.ajug.org/archive/ajug-members/10404/msg00061.html">VSS and Starteam to Subversion</a>,
<a href="http://www.ajug.org/archive/ajug-members/10404/msg00064.html">VSS and Starteam to Subversion (2)</a>
</li>
<li><a href="http://tux.oclug.on.ca/pipermail/oclug/2004-March/037883.html">ClearCase vs. CVS from an e-mail discussion with references to Subversion as well.</a></li>
<li><a href="http://www.snurgle.org/~jondaley/plog/archives/2004/10/15/version_control_comparison">PVCS vs Subversion vs CVS vs VSS</a>
also mentioning BitKeeper, Perforce and SourceVault</li>
<li><a href="http://www.perforce.com/perforce/reviews.html">SCM Comparisons</a> maintained by
the Perforce people this page compares Perforce with ClearCase, CVS, PVCS and VSS.
</li>
<li><a href="http://ask.slashdot.org/article.pl?sid=01/01/03/0319217&amp;tid=128&amp;tid=4">Clearcase vs. CVS?</a> (January 2004) A Slashdot discussion
</li>
<li><a href="http://www.cmcrossroads.com/boards/showflat-Number-43443-page-0-view-collapsed-sb-5-o--fpart-1">PVCS vs CVS</a>
</li>
</ul>

<hr />

<h1>Migration Tools</h1>
<h2>StarTeam to Subversion</h2>
<ul>
<li><a href="http://lists.edgewall.com/archive/trac/2004-May/000252.html">Migration from StarTeam to Subversion</a> on the Trac mailing list<br />
<a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=187546">Migration from StarTeam to Subversion</a> and<br />
<a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=187544">Migration from StarTeam to Subversion</a>  (May 2004)</li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=344870">StarTeam to Subversion</a> (July 2005)</li>
</ul>

<h2>ClearCase to Subversion</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=261707">Subversion and ClearCase</a> (November 2004) Minor issue in the conversion tools.</li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=314667">ClearCase to SVN</a>,
<a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=316358">Speaking of clearcase...</a> and
<a href="http://subversion.tigris.org/servlets/ReadMsg?list=users&amp;msgNo=29911">Speaking of clearcase...</a> (April 2005)</li>
<li><a href="http://www.unix-girl.com/cc2svn/">cc2svn by Kasia Trapszo</a> the migration utility itself</li>
</ul>

<h2>PVCS to Subversion</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=202048">Convert from PVCS to Subversion</a> (June 2004)</li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=237969">PVCS / Subversion import tool</a> (September 2004)</li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=262625">PVCS to Subversion</a> (November 2004)</li>
</ul>

<h2>Perforce to Subversion</h2>
<ul>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=347763">p42svn - Perforce to SVN help</a> (July 2005) </li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=dev&amp;by=thread&amp;from=351797">p42svn dilemma</a> (July 2005)</li>
<li><a href="http://subversion.tigris.org/servlets/ReadMsg?list=users&amp;msgNo=34289">Migrating sources from Perforce to Subversion</a> (June 2005)</li>
<li><a href="http://subversion.tigris.org/servlets/SearchList?list=users&amp;searchText=p42svn&amp;defaultField=subject">Search the archive for p42svn</a></li>
</ul>

<h2>CVS to Subversion</h2>
<ul>
<li><a href ="http://cvs2svn.tigris.org/">cvs2svn</a></li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?listName=users&amp;from=357333&amp;count=7&amp;by=thread">Convert cvs working copy to svn working copy?</a> (August 2005)</li>
</ul>

<h2>Other</h2>
<ul>
<li><a href="http://www.perforce.com/perforce/loadsupp.html">From all kinds of VC tools to Perforce</a></li>
<li><a href="http://subversion.tigris.org/servlets/BrowseList?list=users&amp;by=thread&amp;from=346498">Convert from Subversion to ClearCase</a> (July 2005)</li>
</ul>


<!--
Separate the p4svn script on the compare page

http://www.dwheeler.com/essays/scm.html
http://migo.sixbit.org/papers/Revision_Control_Systems/slide-index.html

ClearCase vs. Subversion
http://www.cmcrossroads.com/boards/showflat-Number-46780-page-0-view-collapsed-sb-5-o--fpart-1

PVCS vs CVS
http://www.cmcrossroads.com/boards/showflat-Number-43443-page-0-view-collapsed-sb-5-o--fpart-1

CVS vs Subversion
http://www.cmcrossroads.com/boards/showflat-Number-45181-Main-45177

<p>It might be also worth to read the
<a href="http://www.chiark.greenend.org.uk/~sgtatham/svn.html">
experiences of Simon Tatham</a>, author of Putty on his migration
from CVS to Subversion.
</p>

Mercurial, git, BitKeeper
http://www.selenic.com/hg/?cmd=file;filenode=b0166ba7a8977756db92a88634da162844af978f;file=comparison.txt


-->

