=head1 Support the public work of Gabor Szabo
=timestamp 1659676092
=tags blogs

=abstract start

There are many people who ask me how could they (financially) support the volunteer work I do and share freely with the public.

Let me list a number of ways:

=abstract end

<ul>
<li><a href="https://www.patreon.com/szabgab">Patreon</a> is excellent for a monthly or annual support, but you could also "subscribe and then immediately cancel the next payment" for a one-time support.</li>
<li><a href="https://github.com/sponsors/szabgab/">GitHub</a> allows for both monthly and one-time support.</li>
<li><a href="https://paypal.me/szabgab">PayPal</a></li>
<li><a href="https://leanpub.com/u/szabgab">Books and courses on LeanPub</a> - You can buy my eBooks and courses on LeanPub. The nice thing with LeanPub is that you can pay any amount above the minimum I set.</li>
<li><a href="https://courses.code-maven.com/">Courses on Teachable</a> - I have a lot more courses available on my Teachable site.</li>
<li><a href="/follow.html">Follow me</a> like and reshare my work</li>
</ul>

<!--
<li><a href=""></a></li>
-->
