=head1 Supporters
=timestamp 1596035067
=tags Patreon, Indiegogo

=abstract start

This is the page to thank the people who financially support my work via <a href="https://www.patreon.com/szabgab">Patreon</a> or
by subscribing to the <a href="https://code-maven.com/pro">Code Maven Pro</a>.

=abstract end

<div id="testimonials">
<div class="testimonial">
<div class="quote">
"If you're interested at all in why I chose to financially support you,
it's because of how often your name comes up with excellent answers to
Perl questions I have googled for over the years.
You have been tremendously helpful."
</div>
<div class="name">~ one of my supporters</div>
<div class="desc"></div>
</div>

<div class="testimonial">
<div class="quote">
"Thanks for all that you do. I maintain a Perl code base, and have repeatedly relied on your excellent writing and documentation."
</div>
<div class="name">~ another supporter</div>
<div class="desc"></div>
</div>


<div class="testimonial">
<div class="quote">
"I am an avid reader of your Perl Weekly and Perl Maven articles."
</div>
<div class="name">~ yet another supporter</div>
<div class="desc"></div>
</div>

<div class="testimonial">
<img src="/img/david_precious.png" alt="David Precious" />
<div class="quote">
"Why I support you? Because you spend a lot of time and effort writing Perl Weekly and Perl Maven content, documentation etc,
answering Perl questions in various places, and just generally appear to care a lot for the Perl community, which I care for deeply too."
</div>
<div class="name"><a href="https://www.preshweb.co.uk/about/">David Precious</a></div>
<div class="desc">Core developer of the <a href="http://perldancer.org/">Perl Dancer</a> project.</div>
</div>

<div class="testimonial">
<div class="quote">
"In any case, thanks for both your service and support to the Perl community with the Perl Weekly newsletter.
A lot of my success in my job is due to my use of Perl, so I'm happy to give back to the community."
</div>
<div class="name">John Wiersba</div>
<div class="desc"></div>
</div>




</div>

I know you support me out of your good heart and not in order to get recognition, but I would like to give it anyway
as I'd like to publicly thank your support.

Monthly support via <a href="https://www.patreon.com/szabgab">Patreon</a> in abc order:

<ul>
<li><a href="https://www.activestate.com/">ActiveState</a></li>
<li><a href="https://www.chatterjee.net/">Anirvan Chatterjee</a></li>
<li>Brian Gaboury</li>
<li>Buddy Burden</li>
<li><a href="https://www.linkedin.com/in/chan-wilson-b867b3/">Chan Wilson</a></li>
<li><a href="https://www.linkedin.com/in/fins0ck/">Csaba Gaspar</a></li>
<li><a href="https://www.linkedin.com/in/dihnen/">David Ihnen</a></li>
<li><a href="https://www.preshweb.co.uk/about/">David Precious</a></li>
<li>Frank Kropp</li>
<li>Gert van Oss</li>
<li>Kjartan Flåm Ohr</li>
<li>John Andersen</li>
<li>Magnus Enger</li>
<li><a href="https://www.linkedin.com/in/mjgardner/">Mark Gardner</a></li>
<li>Markus Hechenberger</li>
<li>Matthew Mitchell</li>
<li>Matthew Persico</li>
<li>Meir Guttman</li>
<li>Mike Small</li>
<li><a href="https://www.linkedin.com/in/n8dgr8/">Nathan Schlehlein</a></li>
<li><a href="https://www.linkedin.com/in/pfmabry/">Paul Mabry</a></li>
<li><a href="https://perl.careers/">Perl Careers</a></li>
<li>Richard Leach</li>
<li>Robert Coursen</li>
<li><a href="https://www.linkedin.com/in/shajiindia/">Shaji Kalidasan</a></li>
<li><a href="https://www.linkedin.com/in/shanta-mcbain-7b644437/">Shanta McBain</a></li>
<li><a href="https://www.linkedin.com/in/slobodanmiskovic/">Slobodan Mišković</a></li>
<li><a href="https://www.linkedin.com/in/stephen-jarjoura-a684401/">Stephen A. Jarjoura</a></li>
<li>Tony Edwardson</li>
<li><a href="https://www.linkedin.com/in/tori-hunter-00009639/">Tori Hunter</a></li>
<li><a href="https://bruck.co.il/">Uri Bruck</a></li>
<li>Victor Moral</li>
<li>Wolfgang Odendahl</li>
<li>Yes2Crypto</li>
<li>... + many others</li>
</ul>

If you are not in this list, or if something is incorrect, let me know and I'll fix it.

<hr>

The list of people who supported the updating of the <a href="https://perlmaven.com/perl-tutorial">Perl Maven Tutorial</a> can be found on that page.

The list of people who supported the <a href="https://leanpub.com/bailador/">Bailador eBook</a> can be found in the eBook and on the free sample pages.

The list of people who supported the <a href="https://leanpub.com/dancer-spa/">Dancer SPA eBook</a> can be found in the eBook and on the free sample pages.

