=head1 TAP - Test Anything Protocol
=timestamp 1220345643
=tags testing, newsletter, test automation, Perl, Perl 5, Python, Ruby, PHP, Java, Javascript, TAP
=indexes TAP, testing, ok

<hr>
This entry was first sent out as part of the
<a href="/test_automation_tips.html">Test Automation Tips</a>.
Visit <a href="http://mail.szabgab.com/mailman/listinfo/test-automation-tips">here to subscribe</a>.
<hr>

The main content of this article was moved over to the <a href="http://perlmaven.com/tap-test-anything-protocol">Perl Maven</a> site. The rest was left here for hisorians.

<hr>

<h2>Welcome back</h2>

After the summer vacation, starting with the new school-year
I am resuming the Test Automation Tips.

Instead of a set of examples this time I'll give an overview of
<a href="http://testanything.org/">TAP, the Test Anything Protocol</a>.


<h2><a href="http://perlmaven.com/tap-test-anything-protocol">TAP - Test Anything Protocol</a></h2>


<h2>RFC ####  or TAP as an IETF standard</h2>

Recently the <a href="http://www.ietf.org/">IETF</a> together with
some of the core TAP developers have started a process
to turn TAP into an RFC.

This can be a big help in getting cross platform and cross
language test running and reporting done.
For details check out the
<a href="http://testanything.org/wiki/index.php/TAP_at_IETF:_Notes">TAP_at_IETF:_Notes</a>

Your input will be appreciated there!

<h2>Testing Automation Planet</h2>

Some time ago I setup an content aggregator planet
for test automation blogs. Appropriately I called
it TAP, though it stands for
<a href="http://tap.szabgab.com/">Testing Automation Planet</a>
and not for <a href="http://tap.szabgab.com/">Testing Anything Planet</a>.
<br>
At least today.

Anyway, you are welcome to read it and suggest other
blogs I should include.


<h2>TIP - Testing in Python</h2>

Recently I have stumbled upon a great mailing list called
<a href="http://lists.idyll.org/listinfo/testing-in-python">TIP - Testing in Python</a>.
While obviously it is mostly concerned about Python related things
there are discussions that are interesting even if
you are not a Python programmer.

<h2>QA Hackathon</h2>

There was a very successful
<a href="http://perl-qa.hexten.net/wiki/index.php/OsloQAWorkshop2008">QA Hackathon
in Oslo in April 2008</a> where among other things the IETF process has
started.



There are going to be at least two similar events in 2009.

One, the <a href="http://act.osdc.org.il/osdc2009il/hackathon.html">Israeli QA Hackathon</a>
is planned to be in February in Israel focusing on TAP in a cross language setting.


The other <a href="http://www.qa-hackathon.org/">QA Hackathon</a> is planned
to be in April in Birmingham, UK which looks like more focused on the Perl aspects.

