=head1 Test Automation Tips
=timestamp 1211583588
=tags testing, newsletter, test automation

For some time I thought that the
<a href="http://perltraining.com.au/tips/">Perl-Tips</a> sent out by
<a href="http://www.perltraining.com.au/">Perl Training Australia</a>
is a neat idea. To follow my tradition of taking lots of good ideas from
the Australians I thought I'd like to have one too.

Of course it did not make much sense to create another Perl tips list
but now, following the advice of
<a href="http://use.perl.org/~brian_d_foy/journal/">brian d foy</a>,
finally the puzzle is complete.

What I can really offer is tips on test automation. That's something I know
quite a bit about and I don't think others provide such information.

So I setup a mailing list where I can send out these tips.

I even create a separate page for the
<a href="http://www.szabgab.com/test_automation_tips.html">Test Automation Tips</a>
but you can go directly to the
<a href="http://mail.szabgab.com/mailman/listinfo/test-automation-tips">registration page</a>.

Subscribe to it now as I am going to send out the first message soon.

<h2>Planned Content</h2>

Of course you might want to know first what am going to write about there?

Well, I am not sure yet.

You might get an idea if you look at the past messages in the blog.
Especially those with the <a href="/blog/tags/testing.html">testing</a> tag.
There were few topics already but that might not be enough to convince you
that it is worth your time.

So let me think aloud a bit.

<ul>
<li>For sure I'll give tips on how to write better unit tests in Perl.</li>
<li>The <a href="/perl_in_test_automation.html">QA Test Automation using Perl</a>
course I am teaching also contains lots of parts on how to test other thing such as
web applications, databases, file systems, networking devices etc. using Perl.
I am going to take ideas from there an discuss them on this newsletter.</li>
<li>I am also planning to add information on how to write unit tests in other
languages - mostly the dynamic flavors such as <b>Python</b>, <b>PHP</b> and <b>Ruby</b> - and how to
integrate between the tests written in several languages.</li>
</ul>

<h2>Registration</h2>

So if these sound interesting, here is the link again:
<a href="http://mail.szabgab.com/mailman/listinfo/test-automation-tips">Subscribe now!</a>

This is a double opt-in mailing list, just like most of the lists today.
First you have to type in your e-mail address and optionally your name.
Then you'll get an e-mail message with instructions on how to finish
your subscription.


That's all for now.

