=head1 Test Automation
=timestamp 1153282986
=tags testing
=skip rss archive front

<h2>Test Automation</h2>

<p>
Test Automation is one of the fields that is very interesting to me.

<ul>
<li>Perl Training: <a href="/perl_in_test_automation.html">Test Automation Using Perl</a></li>
<li>Newsletter: <a href="/test_automation_tips.html">Test Automation Tips</a></li>
<!--
<li>PHP Training: <a href="/testing_php_applications.html">Testing PHP Applications</a></li>
<li>Blog entries about <a href="/blog/tags/testing.html">testing</a> and <a href="/blog/tags/test automation.html">test automation</a></li>
<li>Blog aggregate: <a href="http://tap.szabgab.com/">Test Automation Planet</a></li>
-->
</ul>
</p>

<p>
<a href="/quality-assurance-and-automated-testing-in-open-source-software.html">Quality Assurance and
Automated Testing in Open Source Software</a> is the operning writing of a series of articles about open source projects
and how they handle testing.
</p>

