=head1 Test Automation Tips
=timestamp 1153283005
=description A series of blog posts on automatic testing. Both white box and black box.
=tags Perl, testing, newsletter, automation, PHP, Python, Ruby
=skip rss archive front

<h2>Test Automation Tips</h2>
<p>
The <a href="http://mail.szabgab.com/mailman/listinfo/test-automation-tips">Test Automation Tips</a> is
an irregular newsletter with tips on how to write automated test. It is being published by
me (Gabor Szabo) and is sent out to the <a href="http://mail.szabgab.com/mailman/listinfo/test-automation-tips">registered users</a>.
</p>

<h2>Background</h2>
<p>
I have been doing test automation for many years and teaching courses
in the subject. The class called
<a href="/perl_in_test_automation.html">QA Test Automation using Perl</a>
has been running in various formats since 2003.
</p>
<p>
On 23 May 2008 I decided to set up this newsletter in order to share some of my experience
with people who cannot attend my classes.
</p>
<h2>Content</h2>
<p>
While I am not sure what the exact content will be, I have some directions.
<ul>
<li>For sure I'll give tips on how to write better unit tests in Perl.</li>
<li>The <a href="/perl_in_test_automation.html">QA Test Automation using Perl</a>
course also contains lots of slides on how to test various applications such as
web applications, databases, file systems, firewalls, routers etc. using Perl.
I am going to take ideas from there an discuss them on this newsletter.</li>
<li>I am also planning to add information on how to write unit tests in other
languages - mostly the dynamic flavors such as <b>Python</b>, <b>PHP</b> and <b>Ruby</b> -
and how to integrate between the tests written in several languages.</li>
<li>In addition if you are interested in a topic, please <a href="/contact.html">let me know</a>.
If it also interests me, I'd be glad to write about it.</li>
</ul>
</p>

<h2>Posts</h2>
<p>
<ol>
<li><a href="/testing-hello-world.html">Testing Hello World</a></li>
<li><a href="/tap--test-anything-protocol.html">TAP - Test Anything Protocol</a></li>
<li><a href="/how-many-test-harnesses-are-too-many.html">How many test harnesses are too many?</a></li>
<li><a href="/mocking-real-world-to-test-a-wrapper.html">Mocking real world to test a wrapper</a></li>
<li><a href="/shimming-for-testing-perl-6-code-released-to-cpan.html">Shimming for testing Perl 6 code released to CPAN</a></li>
<li><a href="/testing-php-code-with-simpletest.html">Testing PHP code with SimpleTest</a></li>
<li><a href="/testing-php-applications.html">Testing PHP Applications</a></li>
<li><a href="/testing-a-perl-web-application-without-a-lot-of-setup.html">Testing a (Perl) Web application without a lot of setup</a></li>
<li><a href="/reporting-test-results.html">Reporting Test Results</a></li>
<li><a href="/introduction-to-phpunit.html">Introduction to PHPUnit</a></li>
<li><a href="/testing-a-simple-perl-module.html">Testing a simple Perl module</a></li>
<li><a href="http://perlmaven.com/test-for-warnings-in-a-perl-module">Test for warnings in a Perl Module</a></li>
</ol>
</p>

<h2>Plans</h2>
<p>
<ul>
<li>Mocking external services</li>
<li>Writing tests for an already existing application</li>
<li>White box testing, black box testing and what's in between</li>
<li>Testing web applications</li>
<li>Testing command line applications</li>
<li>Separating test code and test data</li>
<li>Better failure reports using Test::More</li>
<li>Test coverage: eliminating unused code</li>
<li>Test coverage: fixing a bug</li>
<li>What's the difference between unit test, integration test and acceptance test?</li>
</ul>
</p>

<h2>Subscription</h2>

<!--
<ul>
<li><a href="http://mail.szabgab.com/mailman/listinfo/test-automation-tips">Subscribe to Test Automation Tips newsletter</a></li>
</ul>
-->

<p>
This is double opt-in mailing list, just like most of the lists today.
First you have to type in your e-mail address and optionally your name.
Then you'll get an e-mail message with instructions on how to finish
your subscription.<br />
When you had enough, you can easily unsubscribe the same way.
</p>

<!--
<hr />

<h2>Test Automation Discussion lists</h2>
<p>
In addition to the above newsletter I have also setup a
<a href="http://mail.szabgab.com/mailman/listinfo/test-automation">Test Automation Discussion List</a>
where the participants can discuss any subject related to automated software testing
without regards to languages. It is especially planned to hold discussions where developers in
one language can learn from those in other languages.
</p>
-->

<h2>Language specific web sites and mailng lists</h2>
<p>
Some of the programming languages have their own testing or qa related web sites
and mailing lists.
</p>
<ul>
<li>On the <a href="http://qa.perl.org/">Perl-QA</a> mailing list people discuss both how to write test for Perl
applications but also on how to write test for anything else.</li>
<li><a href="http://qa.php.net/">PHP-QAT</a> is the location where people discuss the QA aspects of PHP itself.</li>
<li><a href="http://pear.php.net/qa/">PHP-PEAR-QA</a> is mainly for PEAR package maintainers.</li>
<li><a href="http://www.python.org/">Python</a> does not have a QA team but there is a good Testing related mailing list called
<a href="http://lists.idyll.org/listinfo/testing-in-python">TIP - Testing in Python</a>
</li>
<li><a href="http://www.ruby-lang.org">Ruby?</a></li>
</ul>

<!--
<hr />

<h2>Test Automation Planet</h2>
<p>
There is also an rss/atom aggregator geared towards testing called
<a href="http://tap.szabgab.com/">Test Automation Planet</a>.
</p>
-->


