=head1 The Social Padre: Google+
=timestamp 1310499706
=tags Perl, Google, Padre

As <a href="/creating-a-successful-open-source-project.html">promised</a> I am looking for new ways to reach potential users of 
<a href="http://padre.perlide.org/">Padre, the Perl IDE</a>. Google introduced its new 
hype called <a href="https://plus.google.com/">Google Plus</a>. I am not sure 
how will it work out but as finally I could register I thought I'll give it a try.

I added a +1 button to the web pages of Padre. It was very easy after I found
<a href="http://code.google.com/apis/+1button/">the instructions</a>.
I set it so that the whole site has now one single counter.
I am not sure if this is better or having a separate counter for each page would be better.

In any case, I was surprised to see that it already had +3 when I added the button. I wonder if this 
is a clever trick of Google or if the money trick in 
<a href="http://www.imdb.com/title/tt0366532/">La grande séduction</a> has too much impact on me.

<h2>Blogs about Padre</h2>

There is also an <a href="http://padre.perlide.org/about.html">about page</a> on our website. There we
list every blog entry where Padre was mentioned. I wanted to add a +1 button to each individual
link. Here I chose the smallest icon possible but due to the large number of blog entries on that
page the load time got too high. So for now I restricted the buttons for this years entries only.
We might need to split up that page anyway. In the meantime let's see if people use these buttons at all.

<h2>My blog</h2>

As I already learned how to add these buttons I also added them to my blog and removed that 
"social icon" I had that did not do much anyway. In this case I made the counter individual for 
each post as I think this is better in case of a blog.

<h2>What do you think?</h2>

BTW If you need a Google+ invite, catch me in IRC or send me an 
<a href="/contact.html">e-mail</a> and I'll try to send one to you.

