=head1 TODO 2011 December
=timestamp 1324311087
=tags Perl, TODO

=abstract start

I have lots of things to TODO in the coming weeks which always makes me less productive.
I need to somehow prioritize my tasks.

Or at least list them.

=abstract end

<h2>Perl Maven video courses</h2>

In the last 4 weeks I recorder more that 160 lectures for 3
<a href="/perl-maven.html">Perl Maven courses</a>.
More than 70 people bought from the courses.
Some of them bought 2 or even all 3 courses.

The problem is that the courses are not yet finished. I still need to record
a lot of lectures. This seems to be probably the most urgent thing to do as
these people have already paid.


<h2>Upcoming course - material and PDF</h2>

I have two upcoming courses at a local company.
The content of the beginner part is ready but I need
to make a lot of improvements to the advanced part.

Besides that, I need to finish the PDF
generator code as the old system I was using
is broken. Instead of trying to finish that which
was Linux dependent anyway, I am writing my own PDF
generator in Perl.

This is quite urgent as the beginner course will
start within a few weeks.

<h2>Perl Tutorial</h2>

The <a href="/perl_tutorial.html">free Perl Tutorial</a> I am writing
is also missing a lot of parts. Even the ones that I wrote
will need to be improved a lot.

I think I'll have to slow down with this, at least till I
finish the tasks that I am getting paid for.


<h2>Perl Weekly news</h2>

Besides the regular work on the <a href="http://perlweekly.com/">Perl Weekly</a>
I was also planning some additional services around it.
I made some progress but it is a bit early to announce it.

<h2>Dwimperl</h2>

There is a package called <a href="http://padre.perlide.org/download.html">Padre on Strawberry Perl for Windows</a>
that both needs to be updated and renamed.
After all, Padre is not the most important part of that distribution any more.

A while ago I decided to call it <a href="http://dwimperl.szabgab.com/">Dwim Perl</a>.

I need to finish the web site (I already got a version of it from a GCI student)
and create a new release.

I have also built a Linux version of it that I am already using on a server.
I'd need to finish that too so I can release it.

The initial version will not include <a href="http://padre.perlide.org/">Padre</a>
or any other GUI element. It will be a "server" version.

<h2>Israeli Perl Workshop</h2>

The <a href="http://act.perl.org.il/ilpw2012/">Israeli Perl Workshop</a>
will take place on 28 February 2012. I am co-organizing it with 
<a href="http://blogs.perl.org/users/sawyer_x/">Sawyer X</a>.

The talk submission dead-line is coming up soon. Then we'll have to
pick the talks and maybe to add a few of our own.

I also need to increase my efforts to find sponsors.

<h2>Other tasks</h2>

I think I have a few other urgent tasks but this is enough for now.


<h2>Update</h2>

I wrote this 2 days ago but as I am publishing it I
already managed to add more than 20 new lectures to
<a href="/beginner-perl-maven.html">Beginner Perl Maven video course</a>.

It's starting to look good now. 

I'll need to explain what's the difference between the video version and
the <a href="/perl_tutorial.html">free text</a> version.


