=head1 TODO for May 2012
=timestamp 1335867729
=tags Perl, TODO

=abstract start

In January I started to write <a href="/todo-2012.html">annual reports and TODOs</a>.
In <a href="/todo-2012-02.html">February</a> and in <a href="/todo-2012-03.html">March</a>
I published monthly updates.

In March and April I was so busy with work at clients and holidays,
that I could not even keep up with e-mail. Publishing the <a href="http://perlweekly.com/">Perl Weekly</a>
was also hard. I could not even post my report at the beginning of April and there was not much point in
any planning. I did not know how much time I'll be able to allocate.

As the load now seem to lighten up, I try to collect what happened in the last 2 months
and make some plans.

=abstract end

In a nutshell, almost none of the on-line things I planned for March were done in that month. Not even in April.
On the other hand, my off-site work, training and contract Perl development got a lot more attention.

<h2>Articles on szabgab.com</h2>

In March I published 8 technical articles. Two about PSGI, 
(<a href="/my-first-web-application-using-psgi.html">My First Web Application using PSGI</a> and 
<a href="/how-to-build-a-dynamic-web-application-using-psgi.html">How to build a dynamic web application using PSGI</a>)
one about SVG (<a href="/scalable-vector-graphics-with-perl.html">Scalable Vector Graphics with Perl</a>)
and several others that are part of the Beginner Perl Maven book.

On 19 March I sent out an update of the <a href="/beginner-perl-maven.html">Beginner Perl Maven e-book</a>
to the people who bought the earlier version. Unfortunately I have not announced the new edition at all.

OTOH I announced the first public release of <a href="/dwimperl-for-linux-server-v2.html">DWIM Perl for Linux server</a>.

In April there were only 2 technical articles. One of them is about 
<a href="/simple-database-access-using-perl-dbi-and-sql.html">simple Database access using Perl DBI and SQL</a>.
The other one about <a href="/splice-to-slice-and-dice-arrays-in-perl.html">splice to slice and dice arrays in Perl</a>.

<h2>Perl Weekly updates</h2>

In addition I posted two articles about the Perl Weekly.
The first, about the <a href="http://szabgab.com/perl-weekly-newsletter-at-3000.html">Perl Weekly newsletter reaching 3000 subscribers</a>
was posted on Hacker News and brought in about 2000 visitors.
Then I published an article how the <a href="/perl-weekly-two-days-later.html">Perl Weekly was two days later</a>.
It has now 3,446 e-mail subscribers and a lot of people are following it on the 
<a href="https://plus.google.com/102874059713383300948/">Google Plus page</a>.

<a href="http://plasmasturm.org/">Aristotle Pagaltzis</a> helped improving the code that generated the Perl Weekly.
That made it much easier to fulfill the request of <a href="https://metacpan.org/author/HVOERS">Henk van Oers</a>
from the <a href="http://nl.pm.org/">Dutch Perl Mongers</a>. I added a page with a fixed URL
always showing the <a href="http://perlweekly.com/latest.html">latest issue of the Perl Weekly</a>.
The <a href="http://perlweekly.com/archive/reverse.html">archive</a> was also updated including the title of each
issue. Some of them added retroactively. A page
<a href="http://perlweekly.com/all.html">listing all the issues with all the posts</a> was also added.
This might help people who want to look up an earlier post.

The Perl Weekly got some more followers on Twitter:
<a href="http://twitter.com/#!/perlweekly">@perlweekly</a> has 304 followers (up from 219 two months ago).

On Google+ 683 people put <a href="https://plus.google.com/102874059713383300948/">Perl Weekly</a> in their circles, (up from 281 two months ago).

On Facebook 143 people liked the <a href="http://www.facebook.com/PerlWeekly">Perl Weekly</a> (up from 91 two month ago).
This seems to be the weakest channel for the Perl Weekly.

OTOH 419 people follow the Perl Weekly via RSS, (down from 432 two month ago).

Two things are very unclear to me:
<ol>
<li>What is the level of overlap between the 5 ways to follow the Perl Weekly? - How many people follow Perl Weekly in more than one way?</li>
<li>How many people really see the post and click on them in Facebook/Google+/Twitter ?</li>
</ol>

I know that the latest issue got more than 3,400 clicks in less than 24 hours. Counting only subscribers to the mailing list.
That's about 1 click per subscriber. 

<h2>Facebook vs Google Plus</h2>

A few days ago I collected data comparing
<a href="/facebook-vs-google-plus-for-perl-projects.html">Facebook vs Google+ for Perl projects</a>.
On Facebook there are lot more "followers" but Google Plus is catching up quickly.

<h2>Google Plus page of Perl</h2>

A special point, that there was no general <a href="https://plus.google.com/112669913334031595661/">Perl page</a>.
So I created one and I'd recommend everyone who cares about Perl to show their support by adding it to
their circles. I don't think it will be used for a lot of announcements,
but the most important ones will be published there as well. It's also not planned to be my private Perl page.
I already contacted some other people to share the management of the page. We'll see if they accept the invitation.

<h2>Publishing on other sites</h2>

I have not published anywhere else besides my own domains and I have not made any progress on the Perl Maven videos.
That's quite bad.

On the other hand, I gave a talk about <b>Modern web development with Perl</b>
at <a href="http://haifux.org/">Haifux, the Haifa Linux club</a>.

<h2>Training and Contract work</h2>

I had 7 training days in March and 6 training days in April which is quite good. Also an earlier
client asked me to do some more Perl coding for them so in April I spent 9 days working for them.

<h2>Personal</h2>

On a personal note, during the Passover holidays we went to a very nice hike in the 
Tavor stream. Unfortunately I hurt my back. At first nothing happened, but two days later I could sit, stand, lay in bed or walk
any more. I could not fly or hover above the ground either, but this was not new.

It was not fun, but it is much better now.


<h2>Moving projects to Github</h2>

On the request of Curtis (Ovid) Poe I moved 
<a href="https://github.com/szabgab/Syntax-Highlight-Engine-Kate">Syntax::Highlight::Engine::Kate</a> from the Padre repository
to to Github and he patched it.

I got co-maintainer on <a href="https://github.com/szabgab/SVG">SVG.pm</a> which is too in Github and migrated
<a href="https://github.com/szabgab/PPIx-EditorTools">PPIx::EditorTools</a> from the SVN of Padre to Github.


<h2>Plans for May</h2>

I still have one training day left for next week and the client where I do the contract work
will probably want me there for 9-10 days.

I'll be in Kiev between 8-14 for some hacking and presenting at <a href="http://event.perlrussia.org/yr2012/">Perl Mova</a>.

I plan to release a new version of <a href="http://dwimperl.szabgab.com/">DWIM Perl for Windows</a>
that includes the recently released <a href="http://padre.perlide.org/">Padre 0.96</a> and updates
for the other modules as well.

This does not leave a lot of extra days for writing articles but I'd like to write 6-8 new articles
and publish a new edition of the Beginner Perl Maven book.

I would like to move some more projects from the Padre SVN and from my own SVN repository to Github.

I plan to migrate all the mailing list I run from the current server to a new one and migrate
some of the web-sites too.

I <b>have to</b> make progress in streamlining the Perl Weekly creation as some of
the tasks can be easily automated. This will provide me with time saved down
the road.

I also <b>have to</b> clean up my inbox and reply to all the people who have probably already forgotten they wrote to me.

