=head1 TODO for July 2012
=timestamp 1341172571
=tags Perl, TODO


=abstract start

Half of 2012 is over, half is still ahead. After an enthusiastic start
with lots of content generated I got busy and fell back in publishing.

I even skipped two of the monthly reporting and planning post. Including the previous one.

=abstract end

In May and June I was quite busy working at a client and participating at two events.
I was invited to <a href="http://event.perlrussia.org/yr2012/">Perl Mova</a> in Kiev, Ukraine.

It was a really nice experience. Beautiful weather and nice people. On the first day I could even
understand some of the talks though on the second day, it was all in Russian.

My trip to <a href="http://yapcna.org/">YAPC::NA</a> included 4 days vacation at a friend which was very good
but the whole trip was 11 days long and I could not make any content during that time. I could hardly keep
up with the <a href="http://perlweekly.com/">Perl Weekly</a>.

When I got back I found out that my client has canceled/delayed our contract,
but I <a href="/restarting-is-hard.html">mentioned it earlier</a>.

<h2>Perl 6 Maven</h2>

Since then, I was mostly trying to pick up <a href="http://perl6.org/">Perl 6</a> again and write some code.
I reached the point, that I could announce the <a href="http://perl6maven.com/">Perl 6 Maven</a> site.
I even managed to process the list of existing modules and start to display their documentation.

This site will have articles on how to use Perl 6, and I am going to be pragmatic there. For example,
I'll freely use the shell when necessary. The only important restriction is,
that I am not going to use Perl 5 on that site.

That is currently a static web site generated by a Perl 6 script. For the
<a href="http://perl6maven.com/perl6-tricks-and-treats-newsletter">Perl 6 newsletter</a>
I am currently using Mailman, which is written in Python, but I am already using a Perl 6 script to
send the message. I am planning to replace that Mailman instance with some Perl 6 based application.

Forcing myself to write everything in Perl 6 will help me learn more of the language and will
provide plenty of opportunities for writing articles as well. For now, if you are interested in learning
(again) Perl 6, let me recommend you to sign up to the
<a href="http://perl6maven.com/perl6-tricks-and-treats-newsletter">Perl 6 tricks and treats newsletter</a>.

There were 218 registered people last week. We'll see how this number changes during the next 6 months.


<h2>Perl 5 Maven</h2>

After a long period of foot-dragging, in early May, I finally set up the Perl Maven web site
and announced the <a href="http://szabgab.com/perl-maven-cookbook.html">Perl Maven cookbook</a>.

A few hundred people have subscribed but I was so busy with work and travel, that I sent
out only one message.

The idea behind the separate sites was to make it easier for people to understand what they
are looking at. If you wish, this is a question of branding.

That's why I wanted to move the Perl 5 content to a separate site. The Perl 6 content was supposed
to stay here on szabgab.com. The recent idea to go forward with that content too,
makes the Perl Maven name a bit unclear. Why "Perl vs Perl 6" people need to figure out.

So I registered yet another domain name, and I'll use <a href="http://perlmaven.com/">Perl Maven</a>
for the Perl 5 related content. That leaves the <b>Perl Maven</b> to be used as some kind
of a dispatcher for the two. We'll see.


<h2>TODO</h2>

This should be the place for my plans for the next month or the next half a year.

I have plenty of them but I won't go into details now.

I'll try to JFDI.

If you are interested in Perl 5 or in Perl 6, you can follow the respective 
newsletters at the <a href="http://perlmaven.com/">Perl Maven</a> or at
the <a href="http://perl6maven.com/">Perl 6 Maven</a>.


