=head1 TODO 2012
=timestamp 1325668080
=tags Perl, TODO

=abstract start

I have been writing on this site since 2006 but for a long time I have not give
a lot of thought to the strategy. In addition I had a few "New Year's resolutions"
but have not analyzed the results after the time has passed. I need to change all that.

I need to set up measurable and attainable goals for myself and then check how I did.
I need to do this on an annual base and on monthly base as well.

Writing this in public will probably help me push myself achieve the goals.

=abstract end

<h1>Looking back at 2011 and beyond</h1>

While my <b>"home page"</b> is szabgab.com I manage several domains. Some of them
are mine exclusively, such as this site. Others are community related such as the
web site of the <a href="http://perl.org.il/">Israeli Perl Mongers</a> or
that of <a href="http://padre.perlide.org/">Padre, the Perl IDE</a>.
Yet others fall in some other category.

Let me look at each domain and the world around it and check what was its status
at the end of 2011 and how did it do in that year?
Then I can decide on some target numbers and draw up a plan how to achieve those.

<b>My objective is</b> to use and improve these sites and other accounts to the benefit of the users
(e.g. the Perl community) and provide me with enough income so I can maintain and improve them
in a sustainable way.


In order to have some ideas how could I reach these goals I have been reading
a few Internet-business related books and blogs.
I have been reading the <a href="http://www.copyblogger.com/">Copyblogger</a>,
<a href="http://sethgodin.typepad.com/">Seth Godin</a>,
the <a href="http://www.smartpassiveincome.com/">Smart Passive Income</a> by Pat Flynn,
the <a href="http://www.firepolemarketing.com/">Firepole Marketing</a> by Danny Iny and Peter Vogopoulos,
the <a href="http://thinktraffic.net/">Think Traffic</a>,
the <a href="http://www.ducttapemarketing.com/">Duct Tape Marketing</a> by John Jantsch
and a few others.

<h2>@szabgab</h2>

If we look at the number of posts per year on this site, we can see an increase from 2006 to 2009 but
then a sudden drop in 2010, that I started to regain in 2011.

 2006  8
 2007 28
 2008 60
 2009 155
 2010 97
 2011 116

What happened is, that in most of 2009 and in the beginning of 2010 I was focusing a lot on
writing and promoting <a href="http://padre.perlide.org/">Padre, the Perl IDE</a>
and trying to get the Perl Community to do more outreach.
Mostly by going to non-Perl events.

This partially worked, but by the end of 2010 I was quite burned out.
That led me to take a contract work and take a step back from the publicity.

In mid 2011 the <a href="/contract-is-finished-life-is-beautiful.html">contract was ended</a>
and since then I started to think, how to change my work and the source of income.

I started to increase my writing, re-started my <a href="http://www.youtube.com/gabor529">Perl screencasts</a>,
started the <a href="/perl-tutorial">Perl tutorial</a>, created the <a href="http://perlweekly.com/">Perl Weekly</a>,
and created 3 video courses already using the <a href="/perl-maven.html">Perl Maven</a> name.

But let's see the details:

There were 105K unique visitors in 145K visits generating 314K page-views on the site.

(In 2010 there were 61K unique visitors in 82K visits generating 172K page-views)

<!--
On <a href="http://www.linkedin.com/in/szabgab">LinkedIN</a> I have 937 contact.

On <a href="http://www.facebook.com/szab529gab">Facebook</a> I have 378 friends.
-->

On Twitter, <a href="http://twitter.com/#!/szabgab">@szabgab</a> has 837 followers, 102 listed, 1554 tweets.

<a href="https://plus.google.com/102810219707784087582/">On Google+</a> I am in the circle of 797 people.

On the szabgab.com web site I can only count 54 RSS subscribers, but up till a few days ago
not all of my RSS links went through <a href="http://feedburner.google.com">feedburner</a>,
so I think there might be more people actually reading it via RSS. Nevertheless that's not
a big number.

I have a <a href="http://mail.szabgab.com/mailman/listinfo/update">mailing list</a> to announce
when I write new entries but there are only 56 registered people. Which is surprisingly low compared
to the various other "followers" I have.

<b>YouTube</b>

My <a href="http://www.youtube.com/gabor529">Perl related YouTube channel</a> has 269 subscribers and had 34,411 views
on 27 videos. (That's a total number not only 2011.)

<b>Posts</b>

I wrote 116 blog entries on this site.

<b>External articles:</b>

I published two Perl-related <a href="/articles.html">articles</a> on <a href="http://i-programmer.info/">I-Programmer</a>.

<b>Talks:</b>

I gave a talk at <a href="http://fosdem.org/2011/">FOSDEM</a> in Brussels, Belgium,
one at <a href="http://yapceurope.lv/ye2011/">YAPC::EU</a> in Riga, Latvia
and a Lightning talk at the <a href="http://conferences.yapceurope.org/lpw2011/">London Perl Workshop</a>.
I gave several talks at the monthly meetings of the <a href="http://perl.org.il/">Israeli and Tel Aviv Perl Mongers</a>.

<b>Courses:</b>

Besides the private courses ordered by specific companies, I had a public Advanced Perl
course in May in Ramat Gan, Israel and a one-day test automation class in Riga, Latvia,
after <a href="http://yapceurope.lv/ye2011/">YAPC::EU</a>.
In addition I gave a free course during the <a href="http://conferences.yapceurope.org/lpw2011/">London Perl Workshop</a>.

<h2>Perl Weekly</h2>

The <a href="http://perlweekly.com/">Perl Weekly</a> was started on 1 August 2011.
On 31 December 2011 it had 2,376 e-mail subscribers and 448 RSS subscribers.

On the web site it had 7K unique visitors, 12K visits, 28K page-views.
(a 34% conversion rate to e-mail subscribers of the unique visitors.)

On Twitter the <a href="http://twitter.com/#!/perlweekly">@perlweekly</a> has 72 followers, 7 listed, 4 tweets.

On Google+ 54 people put <a href="https://plus.google.com/102874059713383300948/">Perl Weekly</a> in their circle.

On Facebook 38 people liked the <a href="http://www.facebook.com/PerlWeekly">Perl Weekly</a>.

<h2>CPAN::Forum</h2>

I am quite embarrassed by its current state. I'll have to do something to make it nice and useful!

There were 134K unique visitors, 157K visits, 230K page-views on the site in 2011.

(In 2010: 196K unique visitors, 231K visits, 371K page-views)

<h2>Padre, the Perl IDE</h2>

The <a href="http://padre.perlide.org/">web site of Padre</a> also has some nice numbers.

Visitors: 73K unique visitors, 101K visits, 274K page-views

(In 2010: 55K unique visitors,  83K visits, 210K page-views)

On Google+ 45 people put <a href="https://plus.google.com/113080817271349015915/">Padre</a> in their circle.

On Facebook 64 people liked the <a href="http://www.facebook.com/PerlIDE">Perl IDE</a>.

There are 40 members in the <a href="http://www.linkedin.com/groups?home=&gid=2460957">Linked IN group of Padre</a>.

What would be really interesting is to see the number of Padre user but we don't have any such data.
We can see that 1,648 people have download padre-0.84-on-strawberry-5.12.3.0-v3.exe in May 2011
and 16,240 people have downloaded padre-on-strawberry-5.12.3.0-v5.exe since June 2011.

That is an average of 75-80 downloads a day.

<h2>Perl Maven</h2>

The actual Perl Maven web site is not working yet but I already
used the <a href="/perl-maven.html">Perl Maven</a> name for the video courses.

In November/December 2011 I started to create 3 video course. So far I recorded 124+62+52 = 238 lectures
and even managed to get a total of 42+30+37 = 109 subscribers.

On Facebook there is a total of 2 people who liked the
<a href="http://www.facebook.com/pages/Perl-Maven/333792653299326">Perl Maven page</a>, and one
of them is myself :). It's not surprising as I have not promoted it at all yet.

<a href="http://twitter.com/#!/perlmaven">perlmaven</a> 8 followers, 0 listed, 2 tweets

On Google+ 28 people put <a href="https://plus.google.com/111891839130546418347/">Perl Maven</a> in their circle.

<h2>OSTD and Perl Training site</h2>

A long time ago I setup a web site called Perl training directory (perltraining.org)
with a number of sister sites all driven from Open Source Training Directory (ostd.net).

Not only are they ugly but I have not updated the data in ages. Still they generate some traffic.

In 2011 it had 2,800 unique visitors, 3000 visits, 11K page-views.

(in 2010: 3,800 unique visitors, 4,000 visits, 15K page-views)

<h2>Perl Polls</h2>

I ran one single poll on the <a href="http://perlpolls.com/">Perl polls</a> web site
and even that I have not analyzed yet.

<h2>Israel.pm</h2>

The web site of the <a href="http://perl.org.il/">Israeli Perl Mongers</a> either does not
have the tracking properly set up or it is really that rarely visited.

In 2011 it had a total of 50 unique visitors, 76 visits, 120 page-views.

(in 2010 it was 75 unique, 89 visits, 107 page-views)

On Google+ 16 people put <a href="https://plus.google.com/105209189901369984525/">Israel.pm</a> in their circle.

On Facebook 38 people liked the page of <a href="http://www.facebook.com/Israeli.Perl.Mongers">Israel.pm</a>.

There are 143 members in the
<a href="http://www.linkedin.com/groups?gid=684&trk=hb_side_g">Israel.pm LinkedIN group</a>.

<a href="http://mail.perl.org.il/mailman/listinfo/perl">Israel.pm discussion list</a> has 241 registered users.

<a href="http://mail.perl.org.il/mailman/listinfo/news">Israel.pm news list</a> has 59 registered users.

<hr>

<h1>Plans for 2012</h1>

I think that's all I can collect. Now let's see the plans.

I am not sure if any of the following numbers are real or if they are
totally made up numbers but experimenting with these things is in itself
interesting.

Also I have really no idea how to set target numbers for some of the items.

<h2>@szabgab</h2>

Double each one of the 3 visitor counts for szabgab.com.

I am not sure what target should I set to my Twitter followers
and Google+ followers nor am I sure how to achieve those.

Reach 500 subscribers on the YouTube channel and reach 60K channel views.

<h2>Perl Weekly</h2>

Increase the number of e-mail subscribers by 5,200.
That's a steady 100/week growth what we had in the first 23 weeks.

<h2>CPAN::Forum</h2>

Reach the level of visitors as it was in 2010.

<h2>Padre, Perl IDE</h2>

Reach an annual average of 110 downloads/day for Windows.

<h2>Perl Maven</h2>

Have 1,200 new subscribers of the video courses.

Have 20 days of public Perl training.

<h2>Israel.pm</h2>

Have a successful Perl Workshop in 2012 with 100 visitors
and make preparations for an even more successful one in 2013.

<h2>Action items</h2>

Write 150 articles (on szabgab.com and perlmaven.com)

Write at least 20 <a href="/articles.html">articles</a> for other sites.

Keep sending the Perl Weekly every week. Ask the subscribers to recommend
it to their co-workers and co-programmers. Promote it on my other
web sites.

Learn how to use the Facebook and Google+ pages and LinkedIn
to promote the Perl Weekly, the Perl Maven, the Israeli Perl Mongers, and
YAPC::NA and maybe other things I volunteer for. so far the only thing
I can think of is posting every Perl Weekly issue on the respective FB and G+
group.

Finish the 3 Perl Maven video courses already started and create 3 other courses.

Publish 3 Perl courses as e-books and dead-tree books.

Organize the <a href="http://act.perl.org.il/">Israeli Perl Workshop</a>.

Give Perl courses at 4 events. For YAPC::NA it is already scheduled.

Give talks at 6 events world wide.

Integrate the GCI translations to the YouTube videos.
Upload 12 new videos to YouTube.

Run 6 polls on the Perl Polls site, analyze the results and publish them.


<h2>TODO for January 2012</h2>

Now that I have the grand plan for 2012, let's see what should I do in January?

1) Finish recording the 3 Perl Maven video courses and promote them.
(The first one is almost finished and I am already running a discount for it
in the first week of January.)

2) Write 5 articles on szabgab.com

3) Write 1 or 2 articles for another sites.

4) Improve the PDF version of the Perl Maven course.
(It is already quite OK and I am already teaching from it.)

5) Find 2 more sponsors for the Israeli Perl Workshop.


