<h2>Archive</h2>

<b>Warning</b>: Most of the posts here are personal or political.
My technical articles are over at
<a href="https://rust.code-maven.com/">Rust Maven</a>,
<a href="https://python.code-maven.com/">Python Maven</a>,
<a href="https://perlmaven.com/">Perl Maven</a>,
and the rest at <a href="https://code-maven.com/">Code Maven</a>.
<br>
You have been warned!
<hr>


