<h2>Archive</h2>

Warning: Most of the posts here are personal or political.
My technical articles are over at <a href="https://code-maven.com/">Code Maven</a> and <a href="https://perlmaven.com/">Perl Maven</a>.

You have been warned!
<hr>


